{% extends "main.html" %}
{% load static %}
                                                        {% block leftbutton %}

                                                        {% endblock %}
{% block retbutton %}
<li>
    <a class="btn btn-warning" href="{% url 'desktop' %}" id="pulpit"><i class="fa fa-dashboard fa-fw"></i> Pulpit</a>
</li>
{% endblock %}




{% block userlog %}
    {{ name_log }}
{% endblock %}


{% block content %}
        <style>
                   #wrapper > nav {
                        box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
                   }
                   .box {
                        box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
                   }
                   .setting {
                        cursor: default;
                        height: 380px;
                        margin-bottom: 40px;
                   }

                   #pulpit {color: #FFFACD;background-color:#70665c;border-color: #70665c;}
                   #pulpit:hover {color: #FFFACD;background-color:#50443a;border-color: #50443a;}
                   #pulpit:visited {color: #FFFACD;background-color:#70665c;border-color: #70665c;}

                   #adt {color: #fff; background-color: #404040; border-color: #404040;}
                   #adt:hover {color: #fff; background-color: grey; border-color: grey;}
                   #adt:visited {color: #fff; background-color: #404040; border-color: #404040;}
        </style>

        <div class="setting text-center box">
            <img src="{% static 'img/kris.png' %}">
            <a class="config-name" href="#">
                {{ ROK }}
            </a>
            <p>
                <a type="button" class="btn btn-primary btn-lg btn-block" href="{% url 'worker_mc' %}">Miesiąc aktualny</a>
                <a type="button" class="btn btn-info btn-lg btn-block" href="{% url 'worker_mc_arch' mc=pmc rk=prok %}">Miesiąc archiwalny</a>
                <a type="button" class="btn btn-success btn-lg btn-block" href="{% url 'worker_pr' %}">Dane pracowników</a>
                <a type="button" class="btn btn-warning btn-lg btn-block" href="{% url 'worker_mc_zest' %}">Zestawienia</a>
            </p>
        </div>

<div class="form-row">
        <div class="form-group col-md-2 mb-0">
        </div>
        <div class="form-group col-md-8 mb-0">
                        <div class="alert alert-success" role="alert" id="komunikat">
                            <h3><strong>Procedura postępowania</strong></h3>
                            <p align="justify"><strong>Funkcje przycisków:</strong><br>
                              <table width="100%">
                                 <tr>
                                     <td width="150px" align="right"><strong>"Miesiąc aktualny"</strong></td><td width="20px" align="center">-</td><td>To miejsce, w którym generuje się oraz uzupełnia dane do wyliczeń miesięcznych poborów pracowników.</td>
                                 </tr><tr>
                                     <td width="150px" align="right"><strong>"Miesiąc archiwalny"</strong></td><td width="20px" align="center">-</td><td>To miejsce, w którym przechowywane są dane o poborach pracowników z poprzednich miesięcy</td>
                                 </tr><tr>
                                     <td width="150px" align="right"><strong>"Dane pracowników"</strong></td><td width="20px" align="center">-</td><td>To miejsce, w którym zgrupowane są informacje o pracowniku potrzebne do generowania zestawień miesięcznych. </td>
                                 </tr><tr>
                                     <td width="150px" align="right"><strong>"Zestawienia"</strong></td><td width="20px" align="center">-</td><td>To miejsce, w którym dostępne są róznego rodzaju zestawienia. </td>
                                 </tr>
                              </table>
                            </p>
                            <p align="justify"><strong>Generowanie miesiąca:</strong><br>
                                1. Przed przystąpieniem do pracy z listą płac należy w pierwszej kolejności pewnić się, że dane dotyczące pracowników są kompletne (opcja "Dane pracowników").<br>
                                2. Po wybraniu opcji <i>"Miesiąc aktualny"</i> mogą wystąpić dwie sytuacje:<br>
                                <table width="100%">
                                    <tr>
                                        <td style="width:40px; text-align:center; vertical-align:top;">a)</td><td>Pojawią się nam dane tylko z bieżącego miesiąca.</td>
                                    </tr>
                                    <tr>
                                        <td style="width:40px; text-align:center; vertical-align:top;">b)</td><td>Nie ma danych na obecny miesiąc (pierwsze wejście w danym miesiącu) - pojawi się komunikat i przycisk <i>"Generuj zestawienie dla ..."</i>. Po jego wybraniu wygeneruje się nam zestawienie na podstawie danych z tabeli Pracownicy.</td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">3. Od tej chwili możemy modyfikować aktualne dane do pożadanej postaci.</td>
                                    </tr>
                                </table>

                            </p>
                            <p align="justify"><strong>Uwaga !!!</strong><br>
                            1. O tym jakie dane są archiwalne a jakie bieżące decyduje obecna data i odbywa się to automatycznie.<br>
                            2. Tabela Pracownicy zawiera tylko ostatnie informacje o pracownikach.
                            <p><br>
                    </div>
        </div>
        <div class="form-group col-md-2 mb-0">
        </div>
</div>

{% endblock %}

{% block about %}
                                 <tr><td class="text-right" width="300">
                                     <br>Wersja:
                                     <br>Ostatnia modyfikacja:<br>
                                     <br>Firma:
                                     <br>Autor:
                                     <br>Email:
                                     <br>Tel. kom.:<br>
                                     <br>
                                 </td><td>
                                     {% for ab in about %}
                                        <br>{{ ab.WERSJA }}
                                        <br>{{ ab.MODYFIKACJA }}
                                        <br>
                                        <br>{{ ab.FIRMA }}
                                        <br>{{ ab.AUTOR }}
                                     {% endfor %}
                                     <br><a href="mailto:biuro@edatabit.pl">biuro@edatabit.pl</a>
                                     <br>+48 791-648-417<br>
                                 </td></tr>
{% endblock %}

