{% extends "order_dashboard.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block leftbutton %}
{% endblock %} 


{% block retbutton %}
                        <!--<li>
                            <a href="{% url 'desktop' %}"><i class="fa fa-dashboard fa-fw"></i> Pulpit</a>
                        </li>-->
{% endblock %}

{% block userlog %}
    {{ name_log }}
{% endblock %}


{% block content %}
                <style>
                    #id_wartosc_zam_0, #id_zal1_0, #id_zal2_0, #id_zal3_0, #id_kwota_brutto_0 {
                        width: 150px;
                        height: 34px;
                        text-align: right;
                        font-size: 14px;
                        border-radius: 4px;
                        border-width: 1px;
                        border: 1px solid #ccc;
                        box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
                        color: #555;
                        background-color: #fff;
                    }
                    #id_wartosc_zam_1, #id_zal1_1, #id_zal2_1, #id_zal3_1, #id_kwota_brutto_1 {
                        width: 60px;
                        height: 34px;
                        font-size: 14px;
                        border-radius: 4px;
                    }
                    #id_zal3_1 {
                        background-color: #0000ff;
                        color: #ffff00;
                    }
                    #id_zal1_1, #id_zal2_1, #id_kwota_brutto_1, #id_wartosc_zam_1 {
                        width: 0px;
                        display:none;
                    }

                    #id_data_zam_day, #id_data_dost_day, #id_data_fv_day {
                        width: 80px;
                    }
                    #id_data_zam_month, #id_data_dost_month, #id_data_fv_month {
                        width: 120px;
                    }
                    #id_data_zam_year, #id_data_dost_year, #id_data_fv_year {
                        width: 80px;
                    }

                    #div_id_roz {
                        margin-top: 30px;
                        margin-bottom: 0px;
                    }

                    #div_id_opis > label, #div_id_kontrahent > label, #div_id_zal1 > label, #div_id_zal2 > label, #div_id_zal3 > label, #div_id_kwota_brutto > label, #div_id_wartosc_zam > label {
                        color: #800000;
                    }
                    #div_id_nr_dok3 > label {
                        color: #008000;
                    }

                   #wrapper > nav {
                        box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
                   }
                   #okno {
                        box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
                   }
                   #div_id_nr_sde > div > span {
                        width: 100%;
                   }
                   #div_id_nr_mpk > div > span {
                        width: 100%;
                   }

                   #id_data_zam, #id_data_dost, #id_data_fv {
                        text-align: center;
                   }
                   #div_id_nr_sde > div > span > span.selection > span {
                        width: 70%;
                   }
                   #div_id_nr_sde > div > span > span.selection > span > span.select2-selection__arrow {
                         left: 66%;
                   }
                   #div_id_nr_mpk > div > span > span.selection > span {
                        width: 70%;
                   }
                   #div_id_nr_mpk > div > span > span.selection > span > span.select2-selection__arrow {
                         left: 66%;
                   }


                </style>
                <div class="col-lg-1"> &nbsp;</div>
                <div class="col-lg-10">
                    <br><br>
                    <div class="panel panel-green" id="okno">
                        <div class="panel-heading">
                            <strong> {{ tytul }} </strong>
                        </div>
                        <div class="panel-body">
                            <form method="POST"  class="post-form" enctype="multipart/form-data">
                                {% csrf_token %}
                                <input id="SRC" type="text" name="SRC" value="{{ src }}" hidden="true">
                                <input id="FL" type="text" name="FL" value="{{ fl }}" hidden="true">
                                <div class="form-row">
                                                  <div class="form-group col-md-7 mb-0">
                                                        {{ form.opis|as_crispy_field }}
                                                  </div>
                                                   <div class="form-group col-md-5 mb-0">
                                                        {{ form.kontrahent|as_crispy_field }}
                                                  </div>
                                </div>
                                <div class="form-row">

                                                  <div class="form-group col-md-3 mb-0">
                                                        {{ form.nr_zam|as_crispy_field }}
                                                  </div>
                                                  <div class="form-group col-md-2 mb-0">
                                                        {{ form.data_zam|as_crispy_field }}
                                                  </div>

                                                  <div class="form-group col-md-2 mb-0">
                                                      {{ form.sposob_plat|as_crispy_field }}
                                                  </div>
                                                  <div class="form-group col-md-2 mb-0">
                                                      {{ form.rodzaj_plat|as_crispy_field }}
                                                  </div>
                                                  <div class="form-group col-md-3 mb-0">
                                                      {{ form.wartosc_zam|as_crispy_field }}
                                                  </div>
                                </div>
                                <div class="form-row">
                                                  <div class="form-group col-md-12 mb-0">
                                                      <hr>
                                                  </div>
                                </div>
                                <div class="form-row">
                                                  <div class="form-group col-md-6 mb-0">
                                                        {{ form.nr_sde|as_crispy_field }}
                                                  </div>
                                                  <div class="form-group col-md-6 mb-0">
                                                        {{ form.nr_mpk|as_crispy_field }}
                                                  </div>
                                </div>
                                <div class="form-row">
                                                  <div class="form-group col-md-5 mb-0">
                                                      <hr>
                                                  </div>
                                                  <div class="form-group col-md-3 mb-0" style="color:#ababab; text-align:center;margin-top: 10px;">
                                                      Wszystkie wartości są NETTO.
                                                  </div>
                                                  <div class="form-group col-md-4 mb-0">
                                                      <hr>
                                                  </div>
                                </div>
                                <div class="form-row">
                                                  <div class="form-group col-md-3 mb-0">
                                                  </div>
                                                  <div class="form-group col-md-3 mb-0">
                                                        {{ form.nr_dok1|as_crispy_field }}
                                                  </div>
                                                   <div class="form-group col-md-3 mb-0">
                                                        {{ form.zal1|as_crispy_field }}
                                                  </div>
                                                  <div class="form-group col-md-3 mb-0">
                                                  </div>
                                </div>
                                <div class="form-group col-md-12 mb-0">
                                </div>
                                <div class="form-row">
                                                  <div class="form-group col-md-3 mb-0">
                                                  </div>
                                                  <div class="form-group col-md-3 mb-0">
                                                        {{ form.nr_dok2|as_crispy_field }}
                                                  </div>
                                                  <div class="form-group col-md-3 mb-0">
                                                        {{ form.zal2|as_crispy_field }}
                                                  </div>
                                                  <div class="form-group col-md-3 mb-0">
                                                  </div>
                                </div>
                                <div class="form-group col-md-12 mb-0">
                                </div>
                                <div class="form-row">
                                                  <div class="form-group col-md-3 mb-0">
                                                  </div>
                                                  <div class="form-group col-md-3 mb-0">
                                                        {{ form.nr_dok3|as_crispy_field }}
                                                  </div>
                                                  <div class="form-group col-md-3 mb-0">
                                                        {{ form.zal3|as_crispy_field }}
                                                  </div>
                                                  <div class="form-group col-md-3 mb-0">
                                                      {{ form.kwota_brutto|as_crispy_field }}
                                                  </div>
                                </div>
                                <div class="form-row">
                                                  <div class="form-group col-md-12 mb-0">
                                                      <hr>
                                                  </div>
                                </div>
                                <div class="form-row">
                                                  <div class="form-group col-md-2 mb-0">
                                                  </div>
                                                  <div class="form-group col-md-3 mb-0">
                                                        {{ form.data_dost|as_crispy_field }}
                                                  </div>
                                                   <div class="form-group col-md-3 mb-0">
                                                        {{ form.data_fv|as_crispy_field }}
                                                  </div>
                                                  <div class="form-group col-md-2 mb-0">
                                                  </div>

                                                  {% if potwierdzenie == 1 %}
                                                     <div class="form-group col-md-2 mb-0">
                                                        {{ form.roz|as_crispy_field }}
                                                     </div>
                                                  {% else %}
                                                     <div class="form-group col-md-2 mb-0" hidden>
                                                        {{ form.roz|as_crispy_field }}
                                                     </div>
                                                  {% endif %}

                                </div>

                                <div class="form-row">
                                                  <div class="form-group col-md-12 mb-0">
                                                        {{ form.uwagi|as_crispy_field }}
                                                  </div>
                                </div>





                        </div>
                        <div class="panel-footer">
                            <table width="100%" border="0">
                                <tr>
                                    <td align="right" width="45%"><button type="submit" class="save btn btn-success">Zapisz</button></td>
                                    <td width="20">&nbsp;</td>
                                    {% if ma %}
                                       <td align="left"><a href="{% url 'order_start' %}" class="primary btn btn-danger">Anuluj</a></td>
                                    {% endif %}
                                    {% if se %}
                                       <td align="left"><a href="{% url 'ord_search' src=src %}" class="primary btn btn-danger">Anuluj</a></td>
                                    {% endif %}
                                    {% if mp %}
                                       <td align="left"><a href="{% url 'ord_search_mpk' src=src %}" class="primary btn btn-danger">Anuluj</a></td>
                                    {% endif %}
                                    {% if sd %}
                                       <td align="left"><a href="{% url 'ord_search_sde' src=src %}" class="primary btn btn-danger">Anuluj</a></td>
                                    {% endif %}
                                    {% if er %}
                                       <td align="left"><a href="{% url 'ord_search_er' %}" class="primary btn btn-danger">Anuluj</a></td>
                                    {% endif %}

                                    {% if edycja %}
                                       <td align="right"><a href="#"  data-toggle="modal" data-target="#info1" class="primary btn btn-warning"><i class="fa fa-trash-o fa-fw"></i></a></td>
                                    {% endif %}
                                </tr>
                            </table>
                        </div>

                    </div>
                </div>
                <div class="col-lg-1"> &nbsp;</div>


    <div class="modal fade" id="info1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <span class="modal-title   panel-green" id="exampleModalLongTitle1">Kasowanie...</span>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                            Czy jesteś pewien, że chcesz nieodwracalnie skasować bieżące dane?
                </div>
                <div class="modal-footer">
                    <a href="{% url 'ord_delete' pk=ord_id %}" class="primary btn btn-danger">&nbsp;&nbsp;TAK&nbsp;&nbsp;</a>
                    <button type="button" class="btn btn-success" data-dismiss="modal">&nbsp;&nbsp;NIE&nbsp;&nbsp;</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block about %}
                                 <tr><td class="text-right" width="300">
                                     <br>Wersja:
                                     <br>Ostatnia modyfikacja:<br>
                                     <br>Firma:
                                     <br>Autor:
                                     <br>Email:
                                     <br>Tel. kom.:<br>
                                     <br>
                                 </td><td>
                                     {% for ab in about %}
                                        <br>{{ ab.WERSJA }}
                                        <br>{{ ab.MODYFIKACJA }}
                                        <br>
                                        <br>{{ ab.FIRMA }}
                                        <br>{{ ab.AUTOR }}
                                     {% endfor %}
                                     <br><a href="mailto:biuro@edatabit.pl">biuro@edatabit.pl</a>
                                     <br>+48 791-648-417<br>
                                 </td></tr>
{% endblock %}
