{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pulpit SDA.</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link href="{% static 'COMP/css/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'COMP/comp.css' %}" rel="stylesheet" type="text/css">
    <style>
        #fir:link, #fir:visited {
            color: #FFFFFF;
            background-color: #DAA520;
            border-color: #DAA520;
        }
        #fir:hover {
            color: #FFFFFF;
            background-color: #B8860B;
            border-color: #B8860B;
        }

        #kol1 {
            background-color: #CD5C5C;
            vertical-align: middle;
            text-align: center;
            color: yellow;
            width: 30px;
            padding: 1px;
            font-size: 75%;
            font-weight: bold;
        }

            .verticalText1 {
                text-align: center;
                vertical-align: middle;
                -webkit-transform: rotate(270deg);
                -moz-transform: rotate(270deg);
            }


        .ui-tooltip {
            max-width: 500px; /* Ustaw maksymalną szerokość tooltipa */
            word-wrap: break-word; /* Złamanie długich linii */
            white-space: normal; /* Dopuszczanie łamania wierszy */
            background-color: #f9f9f9; /* Kolor tła */
            color: #333; /* Kolor tekstu */
            border: 1px solid #ccc; /* Obramowanie */
            box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px; /* Cień */
            padding: 10px; /* Odstęp wewnętrzny */
            border-radius: 4px; /* Zaokrąglone rogi */
            z-index: 1000; /* Priorytet wyświetlania */
        }

    </style>
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-default navbar-static-top" role="navigation" id="belka">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'desktop' %}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;SmartDesign&nbsp;&nbsp;Expo&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
            </div>

            <ul class="nav navbar-top-links navbar-left">
                <li>
                    <a class="btn btn-warning" href="{% url 'firma-strona' mag=mag fl=fl %}" id="fir">
                        <font color="white">
                            <strong>Firmy</strong>
                        </font>
                    </a>
                </li>
            </ul>
            <ul class="nav navbar-top-links navbar-right">
                <li>
                    <a class="btn btn-primary" href="{% url 'sklad_list' mag=mag %}" id="ret">
                        <font color="white">
                            <i class="fa fa-reply-all" aria-hidden="true"></i>
                        </font>
                    </a>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="adt">
                        <i class="fa fa-user fa-fw"></i>
                        {{ name_log }}
                        <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">

                        <li>
                                <form action="{% url 'logout' %}" method="post">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-link"><i class="fa fa-sign-out fa-fw"></i> Wyjście z programu</button>
                                </form>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
        </nav>

        <div class="container" id="gpanel">
            <div class="panel panel-default">
                <div class="panel-body">

                        {% for f in firma %}
                            {% if f.id == fl %}
                                <a type="button" class="btn btn-primary active" href="{% url 'sklad_multi' mag=mag fl=f.id %}"><strong>{{ f.nazwa|upper  }}</strong></a>
                            {% else %}
                                <a type="button" class="btn btn-primary" href="{% url 'sklad_multi' mag=mag fl=f.id %}"><strong>{{ f.nazwa|upper  }}</strong></a>
                            {% endif %}
                        {% endfor %}

                </div>
            </div>



            <div class="panel panel-default" style="border-color: #5cb85c;">
                <div class="panel-heading" style="border-color: #5cb85c;background-color: #5cb85c;color: white;">
                    <table width="100%">
                        <tr>
                            <td width="250px" style="background-color: #5cb85c;">
                                <form metod="GET" action="{% url 'sklad_multi' mag=mag fl=fl %}">
                                    {% csrf_token %}
                                    <div class="input-group custom-search-form">
                                        <input type="text" name="SZUKAJ" class="form-control" placeholder="Szukaj...">
                                        <span class="input-group-btn">
                                            <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
                                        </span>
                                    </div>
                                </form>
                            </td>
                            <td>
                                <h3 class="panel-title" align="center"><strong>{{ title }}</strong></h3>
                            </td>
                            <td width="50px" align="right">
                                <a class="btn btn-primary" href="{% url 'ewu_pdf_bc' pk=fl mag=mag %}"  target="_blank">
                                    <strong><font color="yellow"><i class="fa fa-file-pdf-o"></i>&nbsp;Zestawienie</font></strong>
                                </a>
                            </td>
                            <td width="10px" align="right"></td>
                            <td width="50px" align="right">
                                <a href="#" data-toggle="modal" data-target="#HELP_HELP" class="btn btn-danger">
                                    <strong><font color="yellow">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;INSTRUKCJA&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</font></strong>
                                </a>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="panel-body">

                    <table class="table table-hover table-bordered">
                        <thead>
                            <tr style="height:40px;background-color:#F0FFF0;">
                                <th colspan="5" style="vertical-align:middle; text-align:center;">PRZECHOWUJEMY</th>
                                <th rowspan="2" style="vertical-align:middle; text-align:center;">SDE</th>
                                <th colspan="2" style="vertical-align:middle; text-align:center;">WYDANO</th>
                                <th colspan="3" style="vertical-align:middle; text-align:center;">ZWRÓCONO</th>
                                <th colspan="3" style="vertical-align:middle; text-align:center;">CZAS PRZECHOWYWANIA</th>
                                <th rowspan="2" style="vertical-align:middle; text-align:center;width:80px;padding: 1px;">
                                    WYDANIA<br>NA<br>TARGI
                                </th>
                                <th rowspan="2" style="vertical-align:middle; text-align:center;width:40px;padding: 1px;">
                                    <div class="verticalText">ZWOLNIO.</div>
                                </th>
                                <th rowspan="2" style="vertical-align:middle; text-align:center;width:40px;padding: 1px;">
                                    <div class="verticalText">EDYCJA</div>
                                </th>

                            </tr>
                            <tr style="height:40px;background-color:#F0FFF0;">
                                <th style="vertical-align:middle; text-align:center;" colspan="2">NAZWA</th>
                                <th style="vertical-align:middle; text-align:center;">NR. PAL.</th>
                                <th style="vertical-align:middle; text-align:center;">WYGLĄD</th>
                                <th style="vertical-align:middle; text-align:center;">USZKODZENIA</th>
                                <th style="vertical-align:middle; text-align:center;">ILOŚĆ</th>
                                <th style="vertical-align:middle; text-align:center;">DATA</th>
                                <th style="vertical-align:middle; text-align:center;">ILOŚĆ</th>
                                <th style="vertical-align:middle; text-align:center;">DATA</th>
                                <th style="vertical-align:middle; text-align:center;">UWAGI</th>
                                <th style="vertical-align:middle; text-align:center;">OD</th>
                                <th style="vertical-align:middle; text-align:center;">DO</th>
                                <th style="vertical-align:middle; text-align:center;">MAGAZYN</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in sklad %}
                            <tr>

                                {% if item.do_skasowania %}
                                    <td id="kol1">
                                        <div class="verticalText1">KAS</div>
                                    </td>
                                {% else %}
                                    <td width="30px"></td>
                                {% endif %}
                                <td style="vertical-align:middle; text-align:center;">{{ item.przech_nazwa }}</td>
                                <td style="vertical-align:middle; text-align:center;">{{ item.przech_nrpalet }}</td>
                                <td style="vertical-align:middle; text-align:center;">
                                    {% if item.przech_zdjecie or item.przech_zdjecie2 %}
                                        <a href="#" data-toggle="modal" data-target="#VIEW{{ item.id }}"><i class="fa fa-picture-o"></i></a>

                                        <div class="modal fade" id="VIEW{{ item.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <span class="modal-title" id="exampleModalLongTitle">
                                                            <strong>{{ item.przech_nazwa }}</strong>
                                                        </span>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <table width="100%">
                                                            <tr>
                                                                <td>
                                                                    {% if item.przech_zdjecie %}
                                                                        <img src="{{ item.przech_zdjecie.url }}" width="100%"/>
                                                                    {% endif %}
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td style="padding-top: 5px;">
                                                                    {% if item.przech_zdjecie2 %}
                                                                        <img src="{{ item.przech_zdjecie2.url }}" width="100%"/>
                                                                    {% endif %}
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td style="padding-top: 5px;">
                                                                    {% if item.przech_zdjecie3 %}
                                                                        <img src="{{ item.przech_zdjecie3.url }}" width="100%"/>
                                                                    {% endif %}
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td style="padding-top: 5px;">
                                                                    {% if item.przech_zdjecie4 %}
                                                                        <img src="{{ item.przech_zdjecie4.url }}" width="100%"/>
                                                                    {% endif %}
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                    <div class="modal-footer" style="background-color: #eeeeee;">
                                                        <button type="button" class="btn btn-primary" data-dismiss="modal">&nbsp;&nbsp;OK&nbsp;&nbsp;</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                </td>
                                <td style="vertical-align:middle; text-align:center;">
                                    {% if item.uszkodz_zdjecie1 or item.uszkodz_zdjecie2 or item.uszkodz_zdjecie3 or item.uszkodz_zdjecie4  %}
                                        <a href="#" data-toggle="modal" data-target="#VIEWU{{ item.id }}"><i class="fa fa-picture-o"></i></a>
                                        <div class="modal fade" id="VIEWU{{ item.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <span class="modal-title" id="exampleModalLongTitleU">
                                                            <strong>{{ item.przech_nazwa }}</strong>
                                                        </span>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <table width="100%">
                                                            {% if item.uszkodz_zdjecie1 %}
                                                                <tr>
                                                                    <td>
                                                                        <img src="{{ item.uszkodz_zdjecie1.url }}" width="100%"/>
                                                                    </td>
                                                                </tr>
                                                            {% endif %}
                                                            {% if item.uszkodz_zdjecie2 %}
                                                                <tr>
                                                                    <td style="padding-top: 5px;">
                                                                         <img src="{{ item.uszkodz_zdjecie2.url }}" width="100%"/>
                                                                    </td>
                                                                </tr>
                                                            {% endif %}
                                                            {% if item.uszkodz_zdjecie3 %}
                                                                <tr>
                                                                    <td style="padding-top: 5px;">
                                                                        <img src="{{ item.uszkodz_zdjecie3.url }}" width="100%"/>
                                                                    </td>
                                                                </tr>
                                                            {% endif %}
                                                            {% if item.uszkodz_zdjecie4 %}
                                                                <tr>
                                                                    <td style="padding-top: 5px;">
                                                                        <img src="{{ item.uszkodz_zdjecie4.url }}" width="100%"/>
                                                                    </td>
                                                                </tr>
                                                            {% endif %}
                                                        </table>
                                                    </div>
                                                    <div class="modal-footer" style="background-color: #eeeeee;">
                                                        <button type="button" class="btn btn-primary" data-dismiss="modal">&nbsp;&nbsp;OK&nbsp;&nbsp;</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                </td>
                                <td style="vertical-align:middle; text-align:center;">{{ item.nr_sde.nazwa }}</td>
                                <td style="vertical-align:middle; text-align:center;">{{ item.wydano_ilosc }}</td>
                                <td style="vertical-align:middle; text-align:center;">{{ item.wydano_data|date:'d.m.Y' }}</td>
                                <td style="vertical-align:middle; text-align:center;">{{ item.zwroco_ilosc }}</td>
                                <td style="vertical-align:middle; text-align:center;">{{ item.zwroco_data|date:'d.m.Y' }}</td>
                                <td style="vertical-align:middle; text-align:center;">
                                    {% if item.zwroco_uwagi != "" %}
                                        <a href="#" data-toggle="modal" data-target="#AT{{ item.id }}"><i class="fa fa-comment-o fa-fw"></i></a>
                                        <div class="modal fade" id="AT{{ item.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <span class="modal-title" id="exampleModalLongTitle1">
                                                            <strong>Uwagi</strong>
                                                        </span>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        {{ item.zwroco_uwagi|linebreaksbr }}
                                                    </div>
                                                    <div class="modal-footer" style="background-color: #eeeeee;">
                                                        <button type="button" class="btn btn-primary" data-dismiss="modal">&nbsp;&nbsp;OK&nbsp;&nbsp;</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                </td>
                                {% if blokz %}
                                    <td style="vertical-align:middle; text-align:center;color:brown;">{{ item.czas_od|date:'d.m.Y' }}</td>
                                    <td style="vertical-align:middle; text-align:center;color:brown;">{{ item.czas_do|date:'d.m.Y' }}</td>
                                {% else %}
                                    <td style="vertical-align:middle; text-align:center;">{{ item.czas_od|date:'d.m.Y' }}</td>
                                    <td style="vertical-align:middle; text-align:center;">{{ item.czas_do|date:'d.m.Y' }}</td>
                                {% endif %}
                                <td style="vertical-align:middle; text-align:center;">{{ item.magazyn }}</td>

                                <td class="multi-info" data-id="{{ item.multi_uzycie_id }}"  style="vertical-align:middle; text-align:center;">
                                    {% if item.multi_uzycie_st > 1 %}
                                        {{ item.multi_uzycie_st }}
                                    {% else %}
                                        <span style="color:red; font-weight:bold;">{{ item.multi_uzycie_st }}</span>
                                    {% endif %}
                                </td>
                                <td style="vertical-align:middle; text-align:center;">
                                    {% if item.zwolnione %}<i class="fa fa-check" aria-hidden="true"></i>{% endif %}
                                </td>
                                <td style="vertical-align:middle; text-align:center;">
                                    <a href="{% url 'sklad_medit' pk=item.pk mag=mag fl=fl %}">
                                        <i class="fa fa-pencil-square-o fa-fw" style="color:brown;"></i>
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>
        </div>

        <div class="modal fade" id="HELP_HELP" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <span class="modal-title" id="exampleModalLongTitle3"><strong>Instrukcja działania.</strong></span>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p style="text-align:justify;">
                                Uwagi użytkowania:<br>
                                - dane w tabeli są danymi skondensowanymi to znaczy w tabeli jest tylko jedna reprezentacja przechowywanego elementu,<br>
                                - wyświetlane w tabeli są tylko ostatnie wpisy dotyczące danego elementu.<br>
                            </p>

                            <div class="panel panel-default" style="border-left: 4px solid coral">
                              <div class="panel-body">
                                  <h4>Sprawdzanie historii wydań na targi:</h4>
                                  <ul>
                                      <li style="text-align:justify;">Znajdź kolumnę "<font style="color:brown;font-weight: bold;">WYDANIA NA TARGI</font>" i przesuń kursor myszki na poszukiwany wiersz,</li>
                                      <li style="text-align:justify;">Przesuwając kursor po wierszach tej kolumny w 'wyskakujących' oknach pojawia się historia wydań,</li>
                                      <li style="text-align:justify;">Jeśli element jest w trakcie wypożyczenia to odpowiednia linia jest zaznzczona kolorem czerownym.</li>
                                  </ul>
                              </div>
                            </div>

                            <div class="panel panel-default" style="border-left: 4px solid red">
                              <div class="panel-body">
                                  <h4>Dodawanie nowego elementu do przechowalni:</h4>
                                  <p style="text-align:justify;">
                                  Nowy element stoiska do przechowalni dodaje się przez użycie go na jakimś stoisku. Zrobisz to w dwóch krokach:
                                  </p>
                                  <ul>
                                      <li style="text-align:justify;">
                                          Przejdż wyżej do "<font style="color:brown;font-weight: bold;">Lista elementów stoisk przechowywanych dla innych firm.</font>",
                                      </li>
                                      <li style="text-align:justify;">
                                          Wybierz przycisk Nowy element i wypełnij dokładnie cały formularz nie zapominają o zaznaczeniu opcji 'Wielokrotne użycie' oraz towarzyszącej opcji do jakiej firmy ma przynależeć (domyślnie ogólne).
                                      </li>
                                  </ul>
                                  <p style="text-align:justify;">
                                      Po tym działaniu w tabeli Targów pod odpowiednim SDE znajdziesz swoją nową pozycję zgodnie z wypełnionymi danymi.
                                      Dodatkowo ta sama pozycja pojawi się w Elementach wielkorotnego użytku.
                                      Jeżeli opcja Firma została na wartości 'ogólne' to trafia do magazynu ogólnego.
                                      Jeśli wybierzesz firmę to element ten będzie powiązany tylko z tą firmą.
                                  </p>
                              </div>
                            </div>

                            <div class="panel panel-default" style="border-left: 4px solid green">
                              <div class="panel-body">
                                  <h4>Edytowanie oraz dodawanie istniejącego elementu do nowych targów:</h4>
                                  <p style="text-align:justify;">
                                  To są dwie czynności sprzężone ze sobą i zaleca się wykonywanie jej w pozycji tego okna. Takie rozwiązanie ma zminimalizować ilość wpisywanych/zmienianych danych.
                                  </p><br>
                                  <p style="text-align:justify;">
                                      <font style="color:brown;font-weight: bold;">Edytowanie danych</font>:<br>
                                      Znajdź kolumnę EDYCJA i wywołaj formularz dla odpowiedniego wiersza. Zmodyfikuj odpowiednio dane i zapisz.<br>
                                      <font color="red"><i>Pamiętaj jednak, że w tym przypadku SDE w polu Stoisko formularza nie może być zmienione!</i></font>
                                  </p><br>
                                  <p style="text-align:justify;">
                                      <font style="color:brown;font-weight: bold;">Dodawanie istniejącego elementu do nowego stoiska targowego:</font>:<br>
                                      Znajdź kolumnę EDYCJA i wywołaj formularz dla odpowiedniego wiersza. Zmodyfikuj jeśli to konieczne odpowiednie dane i zapisz.<br>
                                      <font color="red"><i>W tym przypadku SDE w polu Stoisko formularza musi być zmienione na numer stoiska, do którego ma być przypisane!</i></font><br>
                                      W efekcie w bazie pojawia się nowy wpis dotyczący nowego stoiska targowego wraz ze zmodyfikowanymi danymi.
                                  </p>
                              </div>
                            </div>






                        </div>
                        <div class="modal-footer" style="background-color: #eeeeee;">
                             <button type="button" class="btn btn-primary" data-dismiss="modal">&nbsp;&nbsp;OK&nbsp;&nbsp;</button>
                        </div>
                    </div>
                </div>
            </div>

    </div> <!-- KONIEC DIV GŁÓWNEGO -->
    <script src="{% static 'COMP/comp.js' %}"></script>
</body>
</html>

