{% extends "dashboard.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block leftbutton %}
{% endblock %} 


{% block retbutton %}
                        <li>
                            <a href="{% url 'ser_start' %}"><i class="fa fa-dashboard fa-fw"></i> Lista usług</a>
                        </li>
{% endblock %}

{% block userlog %}
    {{ name_log }}
{% endblock %}

{% block logo %}
                    <table width="100%" height="200" border="0"><tr><td align="center" valign="middle"><img src="{% static 'img/ser2.png' %}" width="128"></td></tr></table>
{% endblock %}

{% block title %}
Usługi
{% endblock %}

{% block leftmenu %}
{% endblock %}



{% block content %}
                 <div class="col-lg-12">
                    <div class="panel panel-green" id="panel_glowny">
                        <div class="panel-heading">
                            <strong> {{ tytul_tab }} </strong>
                        </div>
                        <div class="panel-body">
                            <form method="POST"  class="post-form" enctype="multipart/form-data">{% csrf_token %}
                                       <div class="form-row">
                                                  <div class="form-group col-md-6 mb-0">
                                                        {{ form.nazwa_siec|as_crispy_field }}
                                                  </div>
                                                  <div class="form-group col-md-6 mb-0">
                                                        {{ form.usr|as_crispy_field }}
                                                  </div>
                                       </div>
                                       <div class="form-row">
                                                  <div class="form-group col-md-4 mb-0">
                                                        {{ form.dostawca|as_crispy_field }}
                                                  </div>
                                                  <div class="form-group col-md-4 mb-0">
                                                        {{ form.hosting|as_crispy_field }}
                                                  </div>
                                                  <div class="form-group col-md-4 mb-0">
                                                        {{ form.data_waznosci|as_crispy_field }}
                                                  </div>
                                       </div>
                                       <div class="form-row">
                                                  <div class="form-group col-md-12 mb-0">
                                                        {{ form.uwagi|as_crispy_field }}
                                                  </div>
                                       </div>
                                       <div class="form-row">
                                                  <div class="form-group col-md-12 mb-0">
                                                      {{ form.zdj|as_crispy_field }}
                                                  </div>
                                       </div>
                        </div>
                        <div class="panel-footer">
                             <table width="100%">
                                <tr>
                                    <td style="text-align:right;">
                                        <button type="submit" class="save btn btn-success">Zapisz</button>
                                    </td>
                                    <td width="20">&nbsp;</td>
                                    <td style="text-align:left;">
                                        <a href="{% url 'ser_start' %}" class="primary btn btn-danger"><font color="#ffffff"> Anuluj</font></a>
                                    </td>
                                    {% if edycja %}
                                       <td align="right"><a href="#"  data-toggle="modal" data-target="#info1" class="primary btn btn-warning"><i class="fa fa-trash-o fa-fw"></i></a></td>
                                    {% endif %}
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>

<div class="modal fade" id="info1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <span class="modal-title   panel-green" id="exampleModalLongTitle1">Kasowanie...</span>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                            Czy jesteś pewien że chcesz nieodwracalnie skasować bierzące dane?
                </div>
                <div class="modal-footer">
                    <a href="{% url 'ser_delete' pk=ser_id %}" class="primary btn btn-danger">&nbsp;&nbsp;TAK&nbsp;&nbsp;</a>
                    <button type="button" class="btn btn-success" data-dismiss="modal">&nbsp;&nbsp;NIE&nbsp;&nbsp;</button>
                </div>
            </div>
        </div>
    </div>



{% endblock %}

{% block about %}
                                 <tr><td class="text-right" width="300">
                                     <br>Wersja:
                                     <br>Ostatnia modyfikacja:<br>
                                     <br>Firma:
                                     <br>Autor:
                                     <br>Email:
                                     <br>Tel. kom.:<br>
                                     <br>
                                 </td><td>
                                     {% for ab in about %}
                                        <br>{{ ab.WERSJA }}
                                        <br>{{ ab.MODYFIKACJA }}
                                        <br>
                                        <br>{{ ab.FIRMA }}
                                        <br>{{ ab.AUTOR }}
                                     {% endfor %}
                                     <br><a href="mailto:biuro@edatabit.pl">biuro@edatabit.pl</a>
                                     <br>+48 791-648-417<br>
                                 </td></tr>
{% endblock %}