{% extends "worker_dashboard.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block leftbutton %}

{% endblock %}


{% block retbutton %}
<li>
    <a class="btn btn-warning" href="{% url 'worker_start' %}"><i class="fa fa-dashboard fa-fw"></i> Menu</a>
</li>
{% endblock %}

{% block userlog %}
{{ name_log }}
{% endblock %}

{% block rightmenu %}
<li>
    <a href="{% url 'worker_start' %}"><i class="fa fa-dashboard fa-fw"></i> Menu</a>
</li>
<li class="divider"></li>
{% endblock %}

{% block logo %}
{% endblock %}

{% block content %}
<style>
                   .alarm{
                          background-color: #FFE4E1;
                   }
                   .alarm1{
                          background-color: #E1E4FF;
                   }
                   .valarm{
                          background-color: #FFFFE0;
                   }
                   .ok{
                          background-color: #90EE90;
                   }
                   .pok{
                          color: yellow;
                          font-weight: bold;
                          background-color: #A5A5A5;
                   }
                   .verticalText{
                          text-align: center;
                          vertical-align: middle;
                          -webkit-transform: rotate(90deg);
                          -moz-transform: rotate(90deg);
                   };
                   th {
                          text-align: center;
                   }


                   #wrapper > nav {
                        box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
                   }

                   #tabela {
                        box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
                   }

                   #tabela > table > tbody > tr:hover {
                        background-color: #f5f5f5;
                   }
                   
                   #belka > ul.nav.navbar-top-links.navbar-left > li > a:hover {
                        background-color: gray;
                   }
                   #belka > ul.nav.navbar-top-links.navbar-right > li:nth-child(1) > a:hover {
                        background-color: gray;
                   }
                   #belka > ul.nav.navbar-top-links.navbar-right > li:nth-child(2) > a:hover {
                        background-color: gray;
                   }
                   .custome-size {
                        width: 1300px;
                   }

                   #komunikat {
                        margin-top:25px;
                        margin-left:10%;
                        margin-right:10%;
                   }
                   #komunikat_przycisk {
                        text-align: center;
                        margin-bottom:25px;
                   }
                   #tab_row:hover {
                        background-color: #dedede;
                   }

                   .badge {
                        background-color: #5cb85c;
                   }

                   #nag {
                        border: 1px;
                        vertical-align:middle;
                        text-align:right;
                        background-color: #5cb85c;
                        color: white;
                        font-weight: bold;
                   }

                   #nag1 {
                        border: 1px;
                        vertical-align:middle;
                        text-align:right;
                        background-color: #800080;
                        color: white;
                        font-weight: bold;
                   }

                   #nag2 {
                        border: 1px;
                        vertical-align:middle;
                        text-align:right;
                        background-color: #BA0000;
                        color: white;
                        font-weight: bold;
                   }


                   #lk {
                        color: green;
                        text-decoration: none;
                   }

                   #lk:hover {
                        color: brown;
                        text-decoration: none;
                   }



</style>
<div class="col-lg-12">
    <br><br>
    <div class="panel panel-default" id="tabela">
        <div class="panel-heading">

            <table width="100%">
                <tr>
                    <td align="center">
                        <h4><strong>{{ tytul_tabeli }}</strong></h4>
                    </td>
                </tr>
            </table>

        </div>
        <div class="panel-body" style="padding:3px; ">

        {% if brak_danych %}

                    <div class="alert alert-warning" role="alert" id="komunikat">
                          <p align="justify"><strong>Brak danych dla bieżącego miesiąca!</strong><br>
                             Jeśli chcesz wygenerować pozycje dla tego miesiąca na podstawie bieżacych danych z tabeli pracowników - wybierz poniższy przycisk.
                             <br>Jeżeli tabela pracownicy nie jest kompletna to zaleca się przed w/w operacją uzupełnić brakujące dane.
                          </p>
                    </div>
                    <div id="komunikat_przycisk">
                        <a href="{% url 'worker_gen_mc' bmc=bmc brok=brok %}" class="btn btn-success btn-sm" role="button">Generuj zestawienie dla {{ mc_rok }}</a>
                    </div>

        {% else %}
<!--            <table width="100%">-->
<!--                <tr>-->
<!--                    <td colspan="4" height="10px"></td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                    <td width="40px"></td>-->
<!--                    <td>-->
<!--                        <a type="button" class="btn btn-danger" href="{% url 'worker_mc_calc' mc=bmc rk=brok ba='a' %}">Przelicz wszystko</a>-->
<!--                    </td><td align="right">-->
<!--                        <a type="button" class="btn btn-primary" href="#" data-toggle="modal" data-target="#EMC_1">Import przelewów z Symfonia ERP Kadry i Płace</a>-->


<!--                              <div class="modal fade" id="EMC_1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">-->
<!--                                 <div class="modal-dialog modal-dialog-centered" role="document">-->
<!--                                    <div class="modal-content ">-->
<!--                                         <div class="modal-header" align="left">-->
<!--                                             <span class="modal-title" id="exampleModalLongTitle2"><strong>Import dokumentów z Symfonia ERP Kadry i Płace</strong></span>-->
<!--                                             <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
<!--                                                    <span aria-hidden="true">&times;</span>-->
<!--                                             </button>-->
<!--                                         </div>-->
<!--                                         <div class="modal-body">-->
<!--                                                <form action="PRACOWNIK/AR/upload/" method="POST" class="dropzone dz" id="my-awesome-dropzone">-->
<!--                                                    {% csrf_token %}-->
<!--                                                    <div class="fallback">-->
<!--                                                        <input name="file" type="file" multiple />-->
<!--                                                    </div>-->
<!--                                                </form>-->
<!--                                         </div>-->
<!--                                         <div class="modal-footer" >-->
<!--                                             <button type="button" class="btn btn-primary" data-dismiss="modal">&nbsp;&nbsp;OK&nbsp;&nbsp;</button>-->
<!--                                         </div>-->
<!--                                    </div>-->
<!--                                 </div>-->
<!--                             </div>-->


<!--                    </td>-->
<!--                    <td width="40px"></td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                    <td colspan="4" height="10px"></td>-->
<!--                </tr>-->
<!--            </table>-->

<!--            <div class="table-responsive">&ndash;&gt;-->
            <table width="100%"><tr><td height="20px"></td></tr></table>
            <table width="100%" class="table table-bordered table-condensed" style="border: 0px;;"> <!--  style="border-collapse: collapse;" -->
                <tr>
                    <td style="border: 0px;"></td>
                    <td id="nag">{{ suma_p }}</td>
                    <td style="border: 0px;"></td>
                    <td id="nag">{{ suma_pr }}</td>
                    <td id="nag">{{ suma_go }}</td>
                    <td id="nag">{{ suma_nd }}</td>
                    <td id="nag">{{ suma_no }}</td>
                    <td style="border: 0px;"></td>
                    <td id="nag">{{ suma_km }}</td>
                    <td style="border: 0px;"></td>
                    <td id="nag">{{ suma_na }}</td>
                    <td style="border: 0px;"></td>
                    <td style="border: 0px;"></td>
                    <td id="nag">{{ suma_dl }}</td>
                    <td id="nag">{{ suma_pm }}</td>
                    <td id="nag">{{ suma_ra }}</td>
                    <td id="nag">{{ suma_za }}</td>
                    <td id="nag">{{ suma_ko }}</td>
                    <!--<td style="border: 0px;"></td>-->
                    <td id="nag1">{{ suma_wy }}</td>
                    <td style="border: 0px;" colspan="2"></td>
                    <td id="nag2">{{ suma_ks }}</td>
                </tr>
                <tr style=" padding:0px;">
                    <th  style="background-color: #4682A4; vertical-align:middle; text-align:center;"><font color="#ffff00">Nazwisko i Imię</font></th>
                    <th  style="background-color: #BD752F; vertical-align:middle; text-align:center;"><font color="#ffff00">Pensja</font></th>
                    <th  style="background-color: #BD752F; vertical-align:middle; text-align:center;"><font color="#ffff00">PPK</font></th>
                    <th  style="background-color: #BA55D3; vertical-align:middle; text-align:center;"><font color="#ffff00">Przelew</font></th>
                    <th  style="background-color: #808000; vertical-align:middle; text-align:center;"><font color="#ffff00">Gotówka</font></th>
                    <th  style="background-color: #BA55D3; vertical-align:middle; text-align:center;"><font color="#ffff00">Niestan.<br>dodatki</font></th>
                    <th  style="background-color: #9A35B3; vertical-align:middle; text-align:center;"><font color="#ffff00">Niestan.<br>obciążenia</font></th>
                    <th  style="background-color: #A0522D; vertical-align:middle; text-align:center;"><font color="#ffff00">Kilome.<br>Ilość<br>dni</font></th>
                    <th  style="background-color: #A0522D; vertical-align:middle; text-align:center;"><font color="#ffff00">Kilome.<br>Wartość</font></th>
                    <th  style="background-color: #778899; vertical-align:middle; text-align:center;"><font color="#ffff00">Nadgodzin<br>Ilość</font></th>
                    <th  style="background-color: #778899; vertical-align:middle; text-align:center;"><font color="#ffff00">Nadgodziny<br>wartość</font></th>
                    <th  style="background-color: #4682B4; vertical-align:middle; text-align:center;"><font color="#ffff00">Del.<br>100%</font></th>
                    <th  style="background-color: #4682B4; vertical-align:middle; text-align:center;"><font color="#ffff00">Del.<br>50%</font></th>
                    <th  style="background-color: #4682B4; vertical-align:middle; text-align:center;"><font color="#ffff00">Delegacja<br>wartość</font></th>
                    <th  style="background-color: #BA55D3; vertical-align:middle; text-align:center;"><font color="#ffff00">Premia</font></th>
                    <th  style="background-color: #2E8B57; vertical-align:middle; text-align:center;"><font color="#ffff00">RAZEM</font></th>
                    <th  style="background-color: #9A35B3; vertical-align:middle; text-align:center;"><font color="#ffff00">Zaliczka</font></th>
                    <th  style="background-color: #9A35B3; vertical-align:middle; text-align:center;"><font color="#ffff00">Komornik</font></th>
                    <!--<th  style="background-color: #BA55D3; vertical-align:middle; text-align:center;"><font color="#ffff00">Brutto<br>brutto</font></th>-->
                    <th  style="background-color: #BA0000; vertical-align:middle; text-align:center;"><font color="#ffff00">Wypłata</font></th>
                    <th  style="background-color: #BA55D3; vertical-align:middle; text-align:center; width:20px !important;">
                        <div class="verticalText">
                            <font style="color:#ffff00;">
                                Rozli<br>czono
                            </font>
                        </div>
                    </th>
                    <th  style="background-color: #BA55D3; vertical-align:middle; text-align:center; width:20px;"><div class="verticalText"><font color="#ffff00">L4</font></div></th>
                    <th  style="background-color: #800080; vertical-align:middle; text-align:center;"><font color="#ffff00">Suma<br>kosztów</font></th>
                </tr>
                {% for p in pen %}
                <tr id="tab_row">
                    <td align="center"><a href="{% url 'worker_amc_edit' pk=p.id %}" id="lk">{{ p.pracownik.nazwisko }} {{ p.pracownik.imie }}</a></td>
                    <td align="right">{{ p.wynagrodzenie }}</td>
                    <td align="right">{{ p.ppk }}</td>
                    <td align="right">{{ p.przelew }}</td>
                    <td align="right">{{ p.gotowka }}</td>
                    <td align="right">
                        <font color="brown" data-toggle="tooltip" data-placement="top" title="{{ p.dodatek_opis }}">
                        {{ p.dodatek }}
                        </font>
                    </td>
                    <td align="right">
                        <font color="brown" data-toggle="tooltip" data-placement="top" title="{{ p.obciazenie_opis }}">
                        {{ p.obciazenie }}
                        </font>
                    </td>
                    <td align="center">{{ p.km_ilosc }}</td>
                    <td align="right">{{ p.km_wartosc }}</td>
                    <td align="center">
                        {{ p.nadgodz_ilosc }}
                    </td>
                    <td align="right">
                        <font color="brown" data-toggle="tooltip" data-placement="top" title="{{ p.nadgodz_opis }}">
                        {{ p.nadgodz }}
                        </font>
                    </td>
                    <td align="center">{{ p.del_ilosc_100 }}</td>
                    <td align="center">{{ p.del_ilosc_50 }}</td>
                    <td align="right">
                        <font color="brown" data-toggle="tooltip" data-placement="top" title="{{ p.del_ilosc_opis }}">
                        {{ p.del_ilosc_razem }}
                        </font>
                    </td>
                    <td align="right">{{ p.premia }}</td>
                    <td style="text-align:right; background-color: #98FB98;">{{ p.razem }}</td>
                    <td align="right">{{ p.zaliczka }}</td>
                    <td align="right">{{ p.komornik }}</td>
                    <!--<td align="right">{{ p.brutto_brutto }}</td>-->
                    <td style="text-align:right; background-color: #FFA07A; font-weight: bold;">{{ p.wyplata }}</td>
                    <td style="text-align:center; background-color: #FFFACD;" onclick="window.location.href='{% url 'worker_flag_arch' pk=p.id col=1  %}'">
                        {% if p.rozliczono %}
                            <i class="fa fa-check" style="color:green;"></i>
                        {% else %}
                            <i class="fa fa-times" style="color:red;"></i>
                        {% endif %}
                    </td>
                    <td style="align:center; background-color: #FFFACD;" onclick="window.location.href='{% url 'worker_flag_arch' pk=p.id col=2  %}'">
                        {% if p.l4 %}
                            <i class="fa fa-medkit" style="color:red;"></i>
                        {% else %}
                            <i class="fa fa-check" style="color:green;"></i>
                        {% endif %}

                    </td>
                    <td style="text-align:right; background-color:#9400D3; color:white;">{{ p.sum_kosztow }}</td>
                </tr>
                {% endfor %}
            </table>
<!--            </div>-->
        {% endif %}
        </div>

    </div>


</div>



{% endblock %}

{% block about %}
<tr>
    <td class="text-right" width="300">
        <br>Wersja:
        <br>Ostatnia modyfikacja:<br>
        <br>Firma:
        <br>Autor:
        <br>Email:
        <br>Tel. kom.:<br>
        <br>
    </td>
    <td>
        {% for ab in about %}
        <br>{{ ab.WERSJA }}
        <br>{{ ab.MODYFIKACJA }}
        <br>
        <br>{{ ab.FIRMA }}
        <br>{{ ab.AUTOR }}
        {% endfor %}
        <br><a href="mailto:biuro@edatabit.pl">biuro@edatabit.pl</a>
        <br>+48 791-648-417<br>
    </td>
</tr>
{% endblock %}
