{% extends "cash_advances_dashboard.html" %}
{% load static %}

{% block leftbutton %}
<!--<li class="dropdown">
    {% if b_rok %}
       <a class="dropdown-toggle btn btn-success" data-toggle="dropdown" href="#" aria-expanded="false">
          <i class="fa fa-calendar fa-fw"></i> &nbsp;&nbsp;Bieżący Rok => [ {{ rok }} ]<i class="fa fa-caret-down"></i>
       </a>
    {% else %}
       <a class="dropdown-toggle btn btn-warning" data-toggle="dropdown" href="#" aria-expanded="false" title="Ustawiony rok nie jest zbieżny z rokiem kalendarzowym !">
          <i class="fa fa-calendar fa-fw"></i> &nbsp;Bieżący Rok => [ {{ rok }} ]<i class="fa fa-caret-down"></i>
       </a>
    {% endif %}
    <ul class="dropdown-menu dropdown-user">
        {% for r in lata %}
        <li>
            <a href="{% url 'cash_rok_akt1' pk=r %}"><i class="fa fa-calendar fa-fw"></i>&nbsp;&nbsp;{{ r }}</a>
        </li>
        {% endfor %}
    </ul>
</li>-->
{% endblock %}


{% block retbutton %}
<li>
    <a class="btn btn-warning" href="{% url 'worker_start' %}"><i class="fa fa-dashboard fa-fw"></i> Menu</a>
</li>
{% endblock %}

{% block userlog %}
{{ name_log }}
{% endblock %}

{% block rightmenu %}
<li>
    <a href="{% url 'worker_start' %}"><i class="fa fa-dashboard fa-fw"></i> Menu</a>
</li>
<li class="divider"></li>
{% endblock %}

{% block logo %}
{% endblock %}

{% block content %}
<style>
                   .alarm{
                          background-color: #FFE4E1;
                   }
                   .alarm1{
                          background-color: #E1E4FF;
                   }
                   .valarm{
                          background-color: #FFFFE0;
                   }
                   .ok{
                          background-color: #90EE90;
                   }
                   .pok{
                          color: yellow;
                          font-weight: bold;
                          background-color: #A5A5A5;
                   }
                   .verticalText{
                          text-align: center;
                          vertical-align: middle;
                          -webkit-transform: rotate(90deg);
                          -moz-transform: rotate(90deg);
                   };
                   th {
                          text-align: center;
                   }


                   #wrapper > nav {
                        box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
                   }

                   #tabela {
                        box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
                   }

                   #tabela > table > tbody > tr:hover {
                        background-color: #f5f5f5;
                   }
                   
                   #belka > ul.nav.navbar-top-links.navbar-left > li > a:hover {
                        background-color: gray;
                   }
                   #belka > ul.nav.navbar-top-links.navbar-right > li:nth-child(1) > a:hover {
                        background-color: gray;
                   }
                   #belka > ul.nav.navbar-top-links.navbar-right > li:nth-child(2) > a:hover {
                        background-color: gray;
                   }
                   .custome-size {
                        width: 1300px;
                   }


</style>
<div class="col-lg-12">
    <br><br>
    <div class="panel panel-default" id="tabela">
        <div class="panel-heading">

            <table width="100%">
                <tr>
                    <td align="center">
                        <h4><strong>{{ tytul_tabeli }}</strong></h4>
                    </td>
                    <td align="right" width="100px">
                        <a href="{% url 'worker_gen_staz' %}" class="primary btn btn-primary">&nbsp;<strong>Gen. staż</strong> </a>
                    </td>
                    <td align="right" width="110px">
                        <a href="#" class="primary btn btn-success">&nbsp;<strong>Nowy wpis</strong> </a>
                    </td>
                </tr>
            </table>

        </div>
        <div class="modal-body">

              <table width="100%" class="table table-bordered table-condensed" id="sort">
                  <tr>
                      <th  style="background-color: #4682A4; vertical-align:middle; text-align:center;"><font color="#ffff00">Imię</font></th>
                      <th  style="background-color: #4682A4; vertical-align:middle; text-align:center;"><font color="#ffff00">Nazwisko</font></th>
                      <th  style="background-color: #CD853F; vertical-align:middle; text-align:center;"><font color="#ffff00">Grupa</font></th>
                      <th  style="background-color: #CD853F; vertical-align:middle; text-align:center;"><font color="#ffff00">Dział</font></th>
                      <th  style="background-color: #BA55D3; vertical-align:middle; text-align:center;"><font color="#ffff00">Zatrudnienie</font></th>
                      <th  style="background-color: #BA55D3; vertical-align:middle; text-align:center;"><font color="#ffff00">Wymiar</font></th>
                      <th  style="background-color: #BA55D3; vertical-align:middle; text-align:center;"><font color="#ffff00">Data zatrudnienia</font></th>
                      <th  style="background-color: #BA55D3; vertical-align:middle; text-align:center;"><font color="#ffff00">Staż<br>pracy</font></th>
                      <th  style="background-color: #5F9EA0;; vertical-align:middle; text-align:center;"><font color="#ffff00">Pensja<br>ustalona</font></th>
                      <th  style="background-color: #5F9EA0;; vertical-align:middle; text-align:center;"><font color="#ffff00">Stawka<br>wyjazdowa</font></th>
                  </tr>
                  {% for p in pracownik %}
                  <tr align="center">
                      <td>{{ p.imie }}</td>
                      <td>{{ p.nazwisko }}</td>
                      <td>{{ p.grupa }}</td>
                      <td>{{ p.dzial }}</td>
                      <td>{{ p.zatrudnienie }}</td>
                      <td>{{ p.wymiar }}</td>
                      <td>{{ p.data_zat|date:'d-m-Y' }}</td>
                      <td>{{ p.staz }}</td>
                      <td align="right">{{ p.pensja_ust }}</td>
                      <td align="right">{{ p.stawka_wyj }}</td>
                  </tr>
                  {% endfor %}
              </table>

        </div>
        <div class="modal-footer">
        </div>

    </div>


</div>


{% endblock %}

{% block about %}
<tr>
    <td class="text-right" width="300">
        <br>Wersja:
        <br>Ostatnia modyfikacja:<br>
        <br>Firma:
        <br>Autor:
        <br>Email:
        <br>Tel. kom.:<br>
        <br>
    </td>
    <td>
        {% for ab in about %}
        <br>{{ ab.WERSJA }}
        <br>{{ ab.MODYFIKACJA }}
        <br>
        <br>{{ ab.FIRMA }}
        <br>{{ ab.AUTOR }}
        {% endfor %}
        <br><a href="mailto:biuro@edatabit.pl">biuro@edatabit.pl</a>
        <br>+48 791-648-417<br>
    </td>
</tr>
{% endblock %}
