{% extends "dashboard.html" %}
{% load static %}

{% block leftbutton %}
{% endblock %}


{% block retbutton %}
<li>
    <a href="{% url 'hip_start' %}"><i class="fa fa-dashboard fa-fw"></i> Lista sprzetu</a>
</li>
{% endblock %}

{% block userlog %}
{{ name_log }}
{% endblock %}

{% block logo %}
<table width="100%" height="200" border="0">
    <tr>
        <td align="center" valign="middle"><img src="{% static 'img/iconfinder_Keys_58675.png' %}" width="128"></td>
    </tr>
</table>
{% endblock %}


{% block title %}
Hasła i profile - Szczegóły
{% endblock %}

{% block leftmenu %}
{% endblock %}


{% block content %}
<div class="col-lg-12">
    <br><br>
    <div class="panel panel-secundary" id="panel_glowny"> <!--primary secundary #337ab7 vertical-align:middle;  -->
        <div class="panel-heading">
           <table width="100%" class="table">
                {% for sprzet in sprzety %}
                <tr>
                    <td style="background-color: #337ab7; color:#FFFFFF; width:150px; text-align:right;"><strong>Dział:</strong></td>
                    <td style="background-color: #337ab7; color:#FFFFFF; width:350px">{{ sprzet.system }}</td>
                    <td rowspan="13" style="vertical-align:middle; text-align:right;">

                        {% if sprzet.zdj == "" %}
                        <img src="{% static 'img/brak.png' %}" height="390"/>
                        {% else %}
                        <img src="{{ sprzet.zdj.url }}" height="390"/>
                        {% endif %}

                    </td>
                </tr>
                <tr style="background-color: #337ab7; color:#FFFFFF;">
                    <td align="right"><strong>Nazwa sieć:</strong></td>
                    <td>{{ sprzet.nazwa_siec }}</td>
                </tr>
                <tr style="background-color: #337ab7; color:#FFFFFF;">
                    <td align="right"><strong>Oznaczenie:</strong></td>
                    <td>{{ sprzet.kik }}</td>
                </tr>
                <tr style="background-color: #337ab7; color:#FFFFFF;">
                    <td align="right"><strong>Host typ:</strong></td>
                    <td>{{ sprzet.host }}</td>
                </tr>
                <tr style="background-color: #337ab7; color:#FFFFFF;">
                    <td align="right"><strong>Użytkownik:</strong></td>
                    <td>{{ sprzet.usr }}</td>
                </tr>

                <tr style="background-color: #337ab7; color:#FFFFFF;">
                    <td align="right"><strong>Adres IP:</strong></td>
                    <td>{{ sprzet.adres_ip }}</td>
                </tr>
                <tr style="background-color: #337ab7; color:#FFFFFF;">
                    <td align="right"><strong>Domena:</strong></td>
                    <td>{{ sprzet.domena }}</td>
                </tr>

                <tr style="background-color: #337ab7; color:#FFFFFF;">
                    <td align="right"><strong>SW gniazdo:</strong></td>
                    <td>{{ sprzet.sw_gn }}</td>
                </tr>
                <tr style="background-color: #337ab7; color:#FFFFFF;">
                    <td align="right"><strong>Typ sprzętu:</strong></td>
                    <td>{{ sprzet.typ }}</td>
                </tr>
                <tr style="background-color: #337ab7; color:#FFFFFF;">
                    <td align="right"><strong>Nr ser. sprzętu:</strong></td>
                    <td>{{ sprzet.snk }}</td>
                </tr>
                <tr style="background-color: #337ab7; color:#FFFFFF;">
                    <td align="right"><strong>Opis:</strong></td>
                    <td>{{ sprzet.opis }}</td>
                </tr>

                <tr style="background-color: #337ab7; color:#FFFFFF;">
                    <td align="right"><strong>Termin gwarancji:</strong></td>
                    <td>{{ sprzet.gw }}</td>
                </tr>


                <tr style="background-color: #337ab7; color:#FFFFFF;">
                    <td align="right"><strong>Uwagi:</strong></td>
                    <td>{{ sprzet.uwagi|linebreaksbr }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
        <div class="panel-body">
            <div class="panel panel-green">
                <div class="panel-heading">
                    <table width="100%">
                        <tr>
                            <td><strong>Profile</strong></td>
                            <td align="right"><a href="{% url 'hip_new_profil' pk=PK %}" class="primary btn btn-danger">&nbsp;
                                <font color="#ffffff"> Nowy wpis </font></a></td>
                        </tr>
                    </table>
                </div>
                <div class="panel-body">
                    <table width="100%" class="table-striped">
                        <tr height="50">
                            <th>&nbsp;&nbsp;&nbsp;Rodzaj konta/Program</th>
                            <th>Kod</th>
                            <th>Konto</th>
                            <th width="200">Hasło</th>
                            <td width="60" align="center"><strong>WWW</strong></td>
                            <td width="60" align="center"><strong>Uwagi</strong></td>
                            <td width="60" align="center"><strong>FV</strong></td>
                            <th width="60"></th>
                        </tr>
                        {% for profil in profile %}
                        <tr>
                            <td>&nbsp;&nbsp;&nbsp;{{ profil.rodzaj_konta }}</td>
                            <td>{{ profil.kod }}</td>
                            <td>{{ profil.konto }}</td>
                            <td>
                                <input value="{{ profil.haslo }}" type="password" id="password" name="password"
                                       class="form-control" data-toggle="password"
                                       style="background-color: transparent;">
                            </td>
                            <td align="center">
                                {% if profil.adres != "" %}
                                <a href="https://{{ profil.adres }}" target="_blank">
                                    <i class="fa fa-globe fa-fw"></i></a>
                                {% endif %}
                            </td>
                            <td align="center">
                                {% if profil.uwagi != "" %}
                                <a href="#" data-toggle="modal" data-target="#EMC{{ profil.id }}">
                                    <i class="fa fa-comment-o fa-fw"></i></a>
                                {% endif %}

                                <div class="modal fade" id="EMC{{ profil.id }}" tabindex="-1" role="dialog"
                                     aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <span class="modal-title" id="exampleModalLongTitle">Komentarz do profilu</span>
                                                <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <table width="100%">
                                                    <tr>
                                                        <td width="160" align="left">RODZAJ KONTA</td>
                                                        <td width="10">:</td>
                                                        <td>{{ profil.rodzaj_konta }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td align="left">KONTO</td>
                                                        <td>:</td>
                                                        <td>{{ profil.konto }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td align="left">UWAGI</td>
                                                        <td>:</td>
                                                        <td>{{ profil.uwagi|linebreaks }}</td>
                                                    </tr>
                                                </table>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-primary" data-dismiss="modal">
                                                    &nbsp;&nbsp;OK&nbsp;&nbsp;
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td align="center">

                                {% if profil.fv != "" %}
                                <a href="{{ profil.fv.url }}"><i class="fa fa-file-pdf-o  fa-fw"></i></a>
                                {% endif %}

                            </td>
                            <td align="center"><a href="{% url 'hip_edit_profil' pk=profil.sprzet.id lp=profil.pk %}">
                                <i class="fa fa-pencil-square-o fa-fw"></i></a></td>
                        </tr>
                        {% endfor %}
                    </table>
                    </div>
                    <div>
                    </div>
                </div>
                <div class="panel-footer">

                </div>
            </div>
        </div>


        {% endblock %}

        {% block about %}
        <tr>
            <td class="text-right" width="300">
                <br>Wersja:
                <br>Ostatnia modyfikacja:<br>
                <br>Firma:
                <br>Autor:
                <br>Email:
                <br>Tel. kom.:<br>
                <br>
            </td>
            <td>
                {% for ab in about %}
                <br>{{ ab.WERSJA }}
                <br>{{ ab.MODYFIKACJA }}
                <br>
                <br>{{ ab.FIRMA }}
                <br>{{ ab.AUTOR }}
                {% endfor %}
                <br><a href="mailto:biuro@edatabit.pl">biuro@edatabit.pl</a>
                <br>+48 791-648-417<br>
            </td>
        </tr>
        {% endblock %}