{% extends "google_dashboard.html" %}
{% load static %}

{% block leftbutton %}
<ul class="nav nav-pills">
    <li class="active"><a href="{% url 'gog_start' %}">Kody SDE</a></li>
    <li><a href="{% url 'gog_kb' %}">Koszty bezpośrednie</a></li>
    <li><a href="{% url 'gog_kg' %}">Koszty gotówkowe</a></li>
    <li><a href="{% url 'gog_ks' %}">Koszty stałe</a></li>
</ul>
{% endblock %}


{% block retbutton %}
<li>
    <a class="btn btn-warning" href="{% url 'desktop' %}"><i class="fa fa-dashboard fa-fw"></i> Pulpit</a>
</li>
{% endblock %}

{% block userlog %}
{{ name_log }}
{% endblock %}

{% block rightmenu %}
{% endblock %}

{% block logo %}
{% endblock %}

{% block content %}
<style>
                   .alarm{
                          background-color: #FFE4E1;
                   }
                   .alarm1{
                          background-color: #E1E4FF;
                   }
                   .valarm{
                          background-color: #FFFFE0;
                   }
                   .ok{
                          background-color: #90EE90;
                   }
                   .verticalText{
                          text-align: center;
                          vertical-align: middle;
                          -webkit-transform: rotate(90deg);
                          -moz-transform: rotate(90deg);
                   };
                   th {
                          text-align: center;
                   }


                   #wrapper > nav {
                        box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
                   }

                   #tabela {
                        box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
                   }

                   #tabela > table > tbody > tr:hover {
                        background-color: #f5f5f5;
                   }
                   
                   #belka > ul.nav.navbar-top-links.navbar-left > li > a:hover {
                        background-color: gray;
                   }
                   #belka > ul.nav.navbar-top-links.navbar-right > li:nth-child(1) > a:hover {
                        background-color: gray;
                   }
                   #belka > ul.nav.navbar-top-links.navbar-right > li:nth-child(2) > a:hover {
                        background-color: gray;
                   }
                   .custome-size {
                        width: 1300px;
                   }



                   .nav-pills>li.active>a, .nav-pills>li.active>a:focus {
                        color: #fff;
                        background-color: #d43f3a;
                   }
                   .nav-pills>li.active>a:hover {
                        color: #fff;
                        background-color: #595959;
                   }

                   .nav-pills>li>a {
                        color: #fff;
                        background-color: #a5a5a5;
                   }
                   .nav-pills>li>a:hover {
                        color: #fff;
                        background-color: #595959;
                   }


</style>
<div class="col-lg-12">
    <br><br>
    <div class="panel panel-default" id="tabela">
        <div class="panel-heading">

            <table width="100%">
                <!--<tr>
                    <td width="250px">

                        <form metod="GET" action="{% url 'cash_search_p' %}">
                            {% csrf_token %}
                            <div class="input-group custom-search-form">
                                <input type="text" name="SZUKAJ" class="form-control" placeholder="Szukaj...">
                                <span class="input-group-btn">
                                                  <button class="btn btn-default" type="submit"><i
                                                          class="fa fa-search"></i></button>
                                               </span>
                            </div>
                        </form>

                    </td>-->

                    <td align="center">
                        <h4><strong>{{ tytul_tabeli }}</strong></h4>
                    </td>
                </tr>
            </table>
        </div>

        <table width="100%" class="table  table-bordered table-condensed">
            <thead>
            <tr height="80px">

                <th style="background-color: #4682B4; vertical-align:middle; text-align:center;"
                    width="150"><font color="#ffff00">Nr zlecenia</font></th>
                <th style="background-color: #5F9EA0; vertical-align:middle; text-align:center;"><font color="#ffff00">Nazwa Klienta/Agencja</font></th>
                <th style="background-color: #BA55D3; vertical-align:middle; text-align:center;"><font color="#ffff00">Nazwa projektu</font></th>
                <th style="background-color: #C0C0C0; vertical-align:middle; text-align:center;">Nazwa Stoiska</th>
                <th style="background-color: #C0C0C0; vertical-align:middle; text-align:center;" width="200">Faktura sprzedażowa<br>(data sprzedaży na FV)
                </th>
                <th style="background-color: #CD853F; vertical-align:middle; text-align:center;"><font color="#ffff00">Project Manager</font></th>
                <th style="background-color: #C0C0C0; vertical-align:middle; text-align:center;" width="20">
                    <div class="verticalText">Uwagi</div>
                </th>
            </tr>

            </thead>

                                            <tbody>
                                     {% for sd in sde %}
                                     <tr>

                                         <td style="vertical-align:middle; text-align:center; font-weight: bold;">{{ sd.nazwa }}</td>
                                         <td style="vertical-align:middle; text-align:center;">{{ sd.klient }}</td>
                                         <td style="vertical-align:middle; text-align:center;">{{ sd.targi }}</td>
                                         <td style="vertical-align:middle; text-align:center;">{{ sd.opis }}</td>
                                         <td style="vertical-align:middle; text-align:center;">{{ sd.mcs }} {{ sd.rks }}</td>
                                         <td style="vertical-align:middle; text-align:center;">{{ sd.pm }}</td>
                                         <td style="vertical-align:middle; text-align:center;">
                                             {% if sd.uwagi != "" %}
                                                  <a href="#" data-toggle="modal" data-target="#EMC{{ sd.id }}"><i class="fa fa-comment-o fa-fw"></i></a>
                                             {% endif %}
                                                 <div class="modal fade" id="EMC{{ sd.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                                 <div class="modal-dialog modal-dialog-centered" role="document">
                                                    <div class="modal-content">
                                                         <div class="modal-header">
                                                             <span class="modal-title" id="exampleModalLongTitle10">Komentarz do pozycji SDE</span>
                                                             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                             </button>
                                                         </div>
                                                         <div class="modal-body">
                                                             {{ sd.uwagi|linebreaks }}
                                                         </div>
                                                         <div class="modal-footer" >
                                                             <button type="button" class="btn btn-primary" data-dismiss="modal">&nbsp;&nbsp;OK&nbsp;&nbsp;</button>
                                                         </div>
                                                    </div>
                                                 </div>
                                             </div>
                                         </td>
                                     </tr>
                                     {% endfor %}
                                </tbody>


        </table>
    </div>


</div>



{% endblock %}

{% block about %}
<tr>
    <td class="text-right" width="300">
        <br>Wersja:
        <br>Ostatnia modyfikacja:<br>
        <br>Firma:
        <br>Autor:
        <br>Email:
        <br>Tel. kom.:<br>
        <br>
    </td>
    <td>
        {% for ab in about %}
        <br>{{ ab.WERSJA }}
        <br>{{ ab.MODYFIKACJA }}
        <br>
        <br>{{ ab.FIRMA }}
        <br>{{ ab.AUTOR }}
        {% endfor %}
        <br><a href="mailto:biuro@edatabit.pl">biuro@edatabit.pl</a>
        <br>+48 791-648-417<br>
    </td>
</tr>
{% endblock %}
