{% extends "dashboard.html" %}
{% load static %}

{% block leftbutton %}
{% endblock %}


{% block retbutton %}
                        <li>
                            <a href="/task"><i class="fa fa-dashboard fa-fw"></i> Pulpit</a>
                        </li>
{% endblock %}

{% block userlog %}
                {{ name_log }}
{% endblock %}


{% block title %}
<table width="100%" height="80px"><tr><td style="width:120px;"><img src="{% static 'img/ico_twoje_konta1.png' %}" width="80px"></td><td>Delegacje</td></tr></table>

{% endblock %}

{% block logo %}
                 <!--   <table width="100%" height="200" border="0"><tr><td align="center" valign="middle"><img src="{% static 'img/ico_twoje_konta1.png' %}" width="128"></td></tr></table>-->
{% endblock %}

{% block leftmenu %}
{% endblock %}


{% block content %}
        <style>
              a:link.dt, a:visited.dt {
                         text-decoration: none;
              }
              a:hover.dt, a:active.dt {
                         text-decoration: none;
                         display: inline-block;
              }

              #wpz {
                    color: brown;
                    font-weight: bold;
              }
              #wrz {
                    color: #a9a9a9;
              }

        </style>

                <div class="col-lg-12">
                    <div class="panel panel-green" id="panel_glowny">
                        <div class="panel-heading">
                            <table width="100%">
                                <tr>
                                    <td width="250px;">
                                        <form metod="GET" action="{% url 'delegacja_search' %}">
                                            {% csrf_token %}
                                            <div class="input-group custom-search-form">
                                                <input type="text" name="SZUKAJ" class="form-control" placeholder="Szukaj...">
                                                <span class="input-group-btn">
                                                    <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
                                                </span>
                                            </div>
                                        </form>
                                    </td>
                                    <td align="center">
                                        <strong>Lista Delegacje</strong>
                                    </td>
                                </tr>
                            </table>

                        </div>
                        <div class="panel-body">
                            <table class="table table-striped">
                                <tr>
                                    <td style="text-align:center;"><strong>Data Od</strong></td>
                                    <td style="text-align:center;"><strong>Data Do</strong></td>
                                    <th>Imię</th>
                                    <th>Nazwisko</th>
                                    <th>Nazwa Targów</th>
                                    <td align="right"><strong>Gotówka [&nbsp;PLN&nbsp;]</strong></td>
                                    <td align="right"><strong>Gotówka [&nbsp;€&nbsp;]</strong></td>
                                    <td align="right"><strong>Gotówka [&nbsp;£&nbsp;]</strong></td>
                                    <td align="right"><strong>Gotówka [&nbsp;Inna&nbsp;]</strong></td>
                                    <td align="right"><strong>Karta [&nbsp;Kwota&nbsp;]</strong></td>
                                </tr>
                                {% for del in delegacje %}
                                <tr>
                                    {% if del.zrobione %}
                                    <td style="text-align:center;">
                                        <a class="dt" href="{% url 'delegacja_edit' pk=del.pk %}">{{ del.data_od | date:'d-m-Y' }}</a>
                                    {% else %}
                                    <td style="background: #ff0000; text-align:center;">
                                        <a class="dt" href="{% url 'delegacja_edit' pk=del.pk %}" style="color: yellow;">{{ del.data_od | date:'d-m-Y' }}</a>
                                    {% endif %}
                                    </td>
                                    <td style="text-align:center;">{{ del.data_do | date:'d-m-Y' }}</td>
                                    <td>{{ del.imie }}</td>
                                    <td>{{ del.nazwisko }}</td>
                                    <td>{{ del.targi }}</td>
                                    <td align="right">
                                        {% if del.kasa_pln > 0 %}
                                        <font id="wpz">{{ del.kasa_pln }}</font>
                                        {% else %}
                                        <font id="wrz">{{ del.kasa_pln }}</font>
                                        {% endif %}
                                    </td>
                                    <td align="right">
                                        {% if del.kasa_euro > 0 %}
                                        <font id="wpz">{{ del.kasa_euro }}</font>
                                        {% else %}
                                        <font id="wrz">{{ del.kasa_euro }}</font>
                                        {% endif %}
                                    </td>
                                    <td align="right">
                                        {% if del.kasa_funt > 0 %}
                                        <font id="wpz">{{ del.kasa_funt }}</font>
                                        {% else %}
                                        <font id="wrz">{{ del.kasa_funt }}</font>
                                        {% endif %}
                                    </td>
                                    <td align="right">
                                        {% if del.kasa_inna.amount > 0 %}
                                        <font id="wpz">{{ del.kasa_inna }}</font>
                                        {% else %}
                                        <font id="wrz">{{ del.kasa_inna }}</font>
                                        {% endif %}
                                    </td>
                                    <td align="right">
                                         {% if del.kasa_karta.amount > 0 %}
                                        <font id="wpz">{{ del.kasa_karta }}</font>
                                        {% else %}
                                        <font id="wrz">{{ del.kasa_karta }}</font>
                                        {% endif %}
                                    </td>
                                </tr>
                                {% endfor %}
                            </table>


                            <br>

                        </div>
                        <div class="panel-footer">
                        </div>
                    </div>
                </div>


                    <div class="pagination">
                        <span class="step-links">
                            {% if delegacje.has_previous %}
                                <a href="?page=1" class="btn btn-default">&laquo; Pierwsza</a>
                                <a href="?page={{ delegacje.previous_page_number }}" class="btn btn-default">Poprzednia</a>
                            {% endif %}

                            <span class="current">
                                Strona {{ delegacje.number }} z {{ delegacje.paginator.num_pages }}.
                            </span>

                            {% if delegacje.has_next %}
                                <a href="?page={{ delegacje.next_page_number }}" class="btn btn-default">Następna</a>
                                <a href="?page={{ delegacje.paginator.num_pages }}" class="btn btn-default">Ostatnia &raquo;</a>
                            {% endif %}
                        </span>
                    </div>




{% endblock %}

{% block about %}
                                 <tr><td class="text-right" width="300">
                                     <br>Wersja:
                                     <br>Ostatnia modyfikacja:<br>
                                     <br>Firma:
                                     <br>Autor:
                                     <br>Email:
                                     <br>Tel. kom.:<br>
                                     <br>
                                 </td><td>
                                     {% for ab in about %}
                                        <br>{{ ab.WERSJA }}
                                        <br>{{ ab.MODYFIKACJA }}
                                        <br>
                                        <br>{{ ab.FIRMA }}
                                        <br>{{ ab.AUTOR }}
                                     {% endfor %}
                                     <br><a href="mailto:biuro@edatabit.pl">biuro@edatabit.pl</a>
                                     <br>+48 791-648-417<br>
                                 </td></tr>
{% endblock %}
