{% extends "dashboard.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block leftbutton %}
{% endblock %}


{% block retbutton %}
{% endblock %}


{% block userlog %}
{{ name_log }}
{% endblock %}


{% block title %}
{{ tytul }}
{% endblock %}

{% block logo %}
                    <table width="100%" height="200" border="0"><tr><td align="center" valign="middle"><img src="{% static 'img/iconfinder_Document_Plain_58663.png' %}" width="128"></td></tr></table>
{% endblock %}


{% block leftmenu %}

{% endblock %}


{% block content %}


                <div class="col-lg-12">
                    <div class="panel panel-green" id="panel_glowny">
                        <div class="panel-heading">
                            <strong>{{ mtytul }}</strong>
                        </div>
                        <div class="panel-body" style="background-color: #f5f5f5;">
                            <form method="POST"  class="post-form" enctype="multipart/form-data">{% csrf_token %}
                                  <div class="form-row">
                                      <table width="100%"><tr><td>
                                                  <div class="form-group col-md-4 mb-0">
                                                        {{ ubf.nazwa | as_crispy_field }}
                                                  </div>
                                                  <div class="form-group col-md-4 mb-0">
                                                        {{ ubf.dotyczy | as_crispy_field  }}
                                                  </div>
                                                  <div class="form-group col-md-4 mb-0">
                                                        {{ ubf.opiekun | as_crispy_field  }}
                                                  </div>
                                          </td></tr></table>
                                  </div>
                                  <div class="form-row">
                                      <table width="100%"><tr><td>
                                                  <div class="form-group col-md-4 mb-0">
                                                        {{ ubf.skn1|as_crispy_field }}
                                                  </div>
                                                  <div class="form-group col-md-4 mb-0">
                                                        {{ ubf.skn2|as_crispy_field }}
                                                  </div>
                                                  <div class="form-group col-md-4 mb-0">
                                                        &nbsp;
                                                  </div>
                                          </td></tr></table>
                                  </div>
                                  <div class="form-row">
                                      <table width="100%"><tr><td>
                                                  <div class="form-group col-md-4 mb-0">
                                                        {{ ubf.daod|as_crispy_field }}
                                                  </div>
                                                  <div class="form-group col-md-4 mb-0">
                                                        {{ ubf.dado|as_crispy_field }}
                                                  </div>
                                                  <div class="form-group col-md-4 mb-0">
                                                        &nbsp;
                                                  </div>
                                          </td></tr></table>
                                  </div>
                                  <div class="form-row">
                                                  <div class="form-group col-md-12 mb-0">
                                                        {{ ubf.uwagi|as_crispy_field }}
                                                  </div>
                                  </div>
                             <!--</form>      -->
                        </div>
                        <div class="panel-footer">
                                        <table width="100%"><tr><td align="center"><button type="submit" class="save btn btn-success">Zapisz</button></td>
                                            <td align="center"><a href="{% url 'ub_start' %}" class="primary btn btn-danger"><font color="#ffffff"> Anuluj</font></a></td></tr></table>
                        </div>
                    </div>
                </div>





{% endblock %}

{% block about %}
                                 <tr><td class="text-right" width="300">
                                     <br>Wersja:
                                     <br>Ostatnia modyfikacja:<br>
                                     <br>Firma:
                                     <br>Autor:
                                     <br>Email:
                                     <br>Tel. kom.:<br>
                                     <br>
                                 </td><td>
                                     {% for ab in about %}
                                        <br>{{ ab.WERSJA }}
                                        <br>{{ ab.MODYFIKACJA }}
                                        <br>
                                        <br>{{ ab.FIRMA }}
                                        <br>{{ ab.AUTOR }}
                                     {% endfor %}
                                     <br><a href="mailto:biuro@edatabit.pl">biuro@edatabit.pl</a>
                                     <br>+48 791-648-417<br>
                                 </td></tr>
{% endblock %}

