{% extends "timber_dashboard.html" %}
{% load static %}

{% block leftbutton %}
{% endblock %}


{% block retbutton %}
<li>
    <a class="btn btn-primary" href="{% url 'desktop' %}"><font color="white"><i class="fa fa-dashboard fa-fw"></i> Pulpit</font></a>
</li>
{% endblock %}

{% block userlog %}
                {{ name_log }}
{% endblock %}


{% block title %}
<br><br>
{% endblock %}

{% block logo %}
{% endblock %}

{% block leftmenu %}
{% endblock %}

{% block style %}
              a:link.dt, a:visited.dt {
                         text-decoration: none;
              }
              a:hover.dt, a:active.dt {
                         text-decoration: none;
                         display: inline-block;
              }


              #wpz {
                    color: brown;
                    font-weight: bold;
              }
              #wrz {
                    color: #a9a9a9;
              }

              .verticalText{
                    text-align: center;
                    vertical-align: middle;
                    -webkit-transform: rotate(90deg);
                    -moz-transform: rotate(90deg);
              }
              #panel_glowny {
<!--                    border-color: #5cb85c;-->
<!--                    color: white;-->
<!--                    background-color: #8cf88c;-->
              }
              #panel_naglowek {
                    background-color: #6cd86c;
              }

                   .nav-pills>li.active>a, .nav-pills>li.active>a:focus {
                        color: #fff;
                        background-color: #d43f3a;
                   }
                   .nav-pills>li.active>a:hover {
                        color: #fff;
                        background-color: #595959;
                   }

                   .nav-pills>li>a {
                        color: #fff;
                        background-color: #a5a5a5;
                   }
                   .nav-pills>li>a:hover {
                        color: #fff;
                        background-color: #595959;
                   }
                   #belka > ul.nav.navbar-top-links.navbar-right > li:nth-child(1) > a:hover {
                        color: #fff;
                        background-color: #595959;
                   }

                #l_zest:link, #l_zest:visited {
                     color: brown;
                }
                #l_zest:hover {
                     color: red;
                }

                #l_ed:link, #l_ed:visited {
                     color: #6C3483;
                }
                #l_ed:hover {
                     color: #4A235A;
                }
{% endblock %}


{% block content %}


                <div class="col-lg-12">
                    <div class="panel panel-green" id="panel_glowny">
                        <div class="panel-heading">
                            <table width="100%">
                                <tr>
                                    <td style="text-align:center;">
                                        <font style="font-size:18px;"><strong>{{ title }}</strong></font>
                                    </td>
                                    <td style="text-align:right;width:100px;">
                                        <a href="#" data-toggle="modal" data-target="#HELP_HELP" class=" btn btn-primary" style="color:white;">
                                            <i class="fa fa-exclamation-triangle" style="color:yellow;"></i>
                                            <strong>  Instrukcja</strong>
                                        </a>
                                    </td>
                                    <td width="10px">&nbsp;</td>
                                    <td width="100px">
                                        <a href="{% url 'inter_add' %}" class="primary btn btn-default">&nbsp;<strong>Dodawanie nowego towaru</strong> </a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="panel-body">
                            {% if inter_stat %}

                                <table width="100%" class="table  table-bordered table-condensed">
                                    <thead>
                                        <tr height="70px">

                                            <th style="background-color: #4682B4; vertical-align:middle; text-align:center;"><font color="#ffff00">Nazwa</font></th>
                                            <th style="background-color: #5F9EA0; vertical-align:middle; text-align:center;"><font color="#ffff00">Stan</font></th>
                                            <th style="background-color: #BA55D3; vertical-align:middle; text-align:center;"><font color="#ffff00">Opis</font></th>
                                            <th style="background-color: #BA5555; vertical-align:middle; text-align:center;" colspan="2"><font color="#ffff00">Operacje</font></th>
                                            <th style="background-color: #C0C0C0; vertical-align:middle; text-align:center;" width="20">
                                                <div class="verticalText">Historia</div>
                                            </th>
                                            <th style="background-color: #B0B090; vertical-align:middle; text-align:center;" width="20">
                                                <div class="verticalText">Edycja</div>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                         {% for t in magazyn %}
                                         <tr>
                                             <td style="vertical-align:middle; text-align:center; font-weight: bold; width:20%;">{{ t.nazwa }}</td>
                                             <td style="vertical-align:middle; text-align:center; width:10%;">{{ t.stan }}</td>
                                             <td style="vertical-align:middle; text-align:center;">{{ t.opis }}</td>
                                             <td style="vertical-align:middle; text-align:center;"  width="30">
                                                 <a href="{% url 'inter_roz_list' pk=t.id %}" data-toggle="tooltip" data-html="true" title="Rozchód towaru...">
                                                     <span class="glyphicon glyphicon-minus-sign" aria-hidden="true"></span>
                                                 </a>
                                             </td>
                                             <td style="vertical-align:middle; text-align:center;" width="30">
                                                 <a href="{% url 'inter_przy_list' pk=t.id %}" data-toggle="tooltip" data-html="true" title="Przyjęcie towaru...">
                                                     <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                                                 </a>
                                             </td>
                                             <td style="vertical-align:middle; text-align:center;">
                                                 <a id="l_zest" href="{% url 'int_zestawienie' pk=t.id %}">
                                                     <i class="fa fa-pie-chart fa-fw"></i>
                                                 </a>
                                             </td>
                                             <td style="vertical-align:middle; text-align:center;">
                                                 <a id="l_ed" href="{% url 'inter_edit' pk=t.id %}">
                                                     <i class="fa fa-pencil-square-o fa-fw"></i>
                                                 </a>
                                             </td>
                                         </tr>
                                         {% endfor %}
                                    </tbody>
                                </table>

                            {% else %}
                                <br><p align="center" style="background-color:red;color:yellow;">
                                <br><strong>Brak danych w bazie...</strong><br><br>
                                </p>
                            {% endif %}

                        </div>
                        <div class="panel-footer">
                        </div>
                    </div>


                             <div class="modal fade" id="HELP_HELP" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                 <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                         <div class="modal-header">
                                             <span class="modal-title" id="exampleModalLongTitle3"><strong>Instrukcja postępowania w module magazynu.</strong></span>
                                             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                             </button>
                                         </div>
                                         <div class="modal-body">
                                             <p style="text-align:justify;">
                                                 W zależnosci od aktualnej potrzeby praca z magazynem sprowadza się do maksymalnie trzech kroków.
                                             </p>


                                             <table width="100%"><tr><td align="center"><h5><strong>Pierwszy krok - dodanie nowego towaru</strong></h5></td></tr></table>
                                             <p style="text-align:justify;">
                                                 Jeżeli chcesz dodać nową pozycję towaru w bazie wybierać musisz przycisk "Dodawanie nowego towaru". Wygenerownie pozycji sprowadza się do wybrania magazynu, podania nazwy i opcjonalnego opisu towaru.
                                                 Po zaakceptowaniu wpisu w oknie głównym wybranego magazynu pojawi sie nowa pozycja towarowa z domyślnie ustawionymi wartościami ilości i ceny na zero.
                                                 Pola te są wyliczane automatycznie w trakcie pracy w module magazynu.
                                             </p>
                                             <br>
                                             <table width="100%"><tr><td align="center"><h5><strong>Drugi krok - przyjęcie towaru na stan.</strong></h5></td></tr></table>
                                             <p style="text-align:justify;">
                                                 Do wcześnie zadeklarowanej pozycji towaru można dodać stan początkowy lub zakupy. Realizuje sie to poprzez dodanie pozycji do listy wypełniając odpowiednie pola formularza.
                                                 Każdą pozycję z listy można edytowac lub skasować. Po zakończeniu dodawania i przejściu do okna głównego w odpowiedniej pozycji pojawi się zaktualizowana ilość towary oraz uśredniona cena z trzech ostatnich wpisów.
                                             </p>
                                             <br>
                                             <table width="100%"><tr><td align="center"><h5><strong>Trzeci krok - rozchód towaru ze stanu.</strong></h5></td></tr></table>
                                             <p style="text-align:justify;">
                                                 Z wcześnie zadeklarowanej pozycji towaru można zdjąć dowolną wartość. Realizuje sie to poprzez dodanie pozycji do listy wypełniając odpowiednie pola formularza z uwzglednieniem Nr SDE.
                                                 Każdą pozycję z listy można edytowac lub skasować a także wygenerować raport w pdf do zapisu na dysk lub do wydruku. Po zakończeniu dodawania i przejściu do okna głównego w odpowiedniej pozycji pojawi się zaktualizowana ilość towary oraz uśredniona cena z trzech ostatnich wpisów.
                                             </p>
                                         </div>
                                         <div class="modal-footer" style="background-color: #eeeeee;">
                                             <button type="button" class="btn btn-primary" data-dismiss="modal">&nbsp;&nbsp;OK&nbsp;&nbsp;</button>
                                         </div>
                                    </div>
                                 </div>
                             </div>




                </div>

{% endblock %}


{% block script %}
{% endblock %}



{% block about %}
                                 <tr><td class="text-right" width="300">
                                     <br>Wersja:
                                     <br>Ostatnia modyfikacja:<br>
                                     <br>Firma:
                                     <br>Autor:
                                     <br>Email:
                                     <br>Tel. kom.:<br>
                                     <br>
                                 </td><td>
                                     {% for ab in about %}
                                        <br>{{ ab.WERSJA }}
                                        <br>{{ ab.MODYFIKACJA }}
                                        <br>
                                        <br>{{ ab.FIRMA }}
                                        <br>{{ ab.AUTOR }}
                                     {% endfor %}
                                     <br><a href="mailto:biuro@edatabit.pl">biuro@edatabit.pl</a>
                                     <br>+48 791-648-417<br>
                                 </td></tr>
{% endblock %}
