{% extends "dashboard.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block leftbutton %}
{% endblock %} 


{% block retbutton %}
<!--                        <li>-->
<!--                            <a href="{% url 'desktop' %}"><i class="fa fa-dashboard fa-fw"></i> Pulpit</a>-->
<!--                        </li>-->
{% endblock %}

{% block userlog %}
    {{ name_log }}
{% endblock %}

{% block logo %}
                    <table width="100%" height="200" border="0"><tr><td align="center" valign="middle"><img src="{% static 'img/iconfinder_Keys_58675.png' %}" width="128"></td></tr></table>
{% endblock %}

{% block title %}
{{ tytul }}
{% endblock %}

{% block leftmenu %}
{% endblock %}



{% block content %}
<style>
    #id_data {
        text-align:center;
    }
</style>
                <!--<p>http://blog.heintze.pl/2013/03/09/upload-plikow-w-django/</p>-->
                 <div class="col-lg-12">
                    <div class="panel panel-green" id="panel_glowny">
                        <div class="panel-heading">
                            <strong> {{ naglowek }} </strong>
                        </div>
                        <div class="panel-body">
                            <form method="POST"  class="post-form" enctype="multipart/form-data">{% csrf_token %}
                                       <div class="form-row">
                                                  <div class="form-group col-md-4 mb-0" hidden>
                                                        {{ form.sprzet|as_crispy_field }}
                                                  </div>
                                                  <div class="form-group col-md-4 mb-0">
                                                        {{ form.data|as_crispy_field }}
                                                  </div>
                                                  <div class="form-group col-md-4 mb-0">

                                                  </div>
                                       </div>
                                       <div class="form-row">
                                                  <div class="form-group col-md-12 mb-0">
                                                        {{ form.problem|as_crispy_field }}
                                                  </div>
                                       </div>
                                        <div class="form-row">
                                                  <div class="form-group col-md-12 mb-0">
                                                        {{ form.opis|as_crispy_field }}
                                                  </div>
                                        </div>
                                       <div class="form-row">
                                                  <div class="form-group col-md-12 mb-0">
                                                        {{ form.uwagi|as_crispy_field }}
                                                  </div>
                                       </div>

                        </div>
                        <div class="panel-footer">
                            <table width="100%" border="0">
                                <tr>
                                    <td align="right" width="45%"><button type="submit" class="save btn btn-success">Zapisz</button></td>
                                    <td width="20">&nbsp;</td>
                                    <td align="left"><a href="{% url 'hip_serwis' pk=PK %}" class="primary btn btn-danger"><font color="#ffffff"> Anuluj </font></a></td>
                                    {% if edycja %}
                                       <td align="right">
                                           <a href="#"  data-toggle="modal" data-target="#info{{ form.id }}" class="primary btn btn-warning">
                                               <font style="color:#ffffff"><i class="fa fa-trash-o fa-fw"></i></font>
                                           </a>
                                       </td>
                                    {% endif %}
                                </tr>
                            </table>
                        </div>
                    </div>
                     <br><br><br><br><br><br><br><br>
                </div>

    <div class="modal fade" id="info{{ form.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <span class="modal-title   panel-green" id="exampleModalLongTitle1">Kasowanie...</span>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                            Czy jesteś pewien, że chcesz nieodwracalnie skasować bieżące dane?
                </div>
                <div class="modal-footer">
                    <a href="{% url 'hip_delete_profil' pk=LP ret=PK %}" class="primary btn btn-danger"><font style="color:#ffffff">&nbsp;&nbsp;TAK&nbsp;&nbsp;</font></a>
                    <button type="button" class="btn btn-success" data-dismiss="modal">&nbsp;&nbsp;NIE&nbsp;&nbsp;</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block about %}
                                 <tr><td class="text-right" width="300">
                                     <br>Wersja:
                                     <br>Ostatnia modyfikacja:<br>
                                     <br>Firma:
                                     <br>Autor:
                                     <br>Email:
                                     <br>Tel. kom.:<br>
                                     <br>
                                 </td><td>
                                     {% for ab in about %}
                                        <br>{{ ab.WERSJA }}
                                        <br>{{ ab.MODYFIKACJA }}
                                        <br>
                                        <br>{{ ab.FIRMA }}
                                        <br>{{ ab.AUTOR }}
                                     {% endfor %}
                                     <br><a href="mailto:biuro@edatabit.pl">biuro@edatabit.pl</a>
                                     <br>+48 791-648-417<br>
                                 </td></tr>
{% endblock %}
