{% extends "dashboard.html" %}
{% load static %}

{% block leftbutton %}
                        {% if arch == True %}
                        <li>
                            <a href="{% url 'auta_start' %}"><i class="fa fa-asterisk fa-fw"></i> Lista</a>
                        </li>
                        {% else %}
                        <li>
                            <a href="{% url 'auta_arch' %}"><i class="fa fa-asterisk fa-fw"></i> Archiwum</a>
                        </li>
                        {% endif %}
{% endblock %} 


{% block retbutton %}
                        <li>
                            <a href="{% url 'desktop' %}"><i class="fa fa-dashboard fa-fw"></i> Pulpit</a>
                        </li>

{% endblock %}

{% block userlog %}
    {{ name_log }}
{% endblock %}


{% block title %}
<table width="100%" height="80px"><tr><td style="width:120px;"><img src="{% static 'img/ciezarowka.png' %}" width="80px"></td><td>Lista Samochodów</td></tr></table>

{% endblock %}

{% block logo %}
                   <!-- <table width="100%" height="200" border="0"><tr><td align="center" valign="middle"><img src="{% static 'img/iconfinder_Refresh_58683.png' %}" width="128"></td></tr></table>-->
{% endblock %}

{% block leftmenu %}
{% endblock %}




{% block content %}
        
                <div class="col-lg-12">
                    <h6><font color="red">Na 30 dni przed terminem ubezpieczenia i/lub badania oraz 60 dni przed terminem leasingu program zacznie wysyłać info na adres mailowy lub Skypa.</font></h6>
                    <h6><font color="blue">Podświetlanie: żółty - zbliża sie termin przeglądu/ubezpieczenia; czerwony - przekroczono termin przeglądu/ubezpieczenia.</font></h6>
                    <br>

                    <div class="panel panel-green" id="panel_glowny">
                        <div class="panel-heading">
                            <table width="100%">
                                <tr>
                                    <td>Dowody Rejestracyjne & badania</td>
                                    <td align="right"><a href="{% url 'auto_add' %}" class="primary btn btn-danger"><font color="#ffffff">&nbsp;Nowy wpis </font></a></td>
                                    <td align="right" width="120">
                                        <a href="{% url 'auto_export' %}" class="primary btn btn-info">
                                            <font color="#ffffff">Export do xls</font>
                                        </a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="panel-body">
                            <table class="table table-striped">
                                <tr>
                                    <th>Typ</th>
                                    <th>Nr. rejestracyjny</th>
                                    <th>Imię i Nazwisko</th>
                                    <!--<th>Opis</th>-->
                                    <th style="text-align:center;">Dow. rej.</th>
                                    <th style="text-align:center;">Polisa</th>
                                    <th style="text-align:center;">Data ubezpieczenia</th>
                                    <th style="text-align:center;">Data przeglądu</th>
                                    <th style="text-align:center;">Leasing</th>
                                    <th style="text-align:center;">Data start</th>
                                    <th style="text-align:center;">Data koniec</th>
                                    <th style="text-align:center;">Rata</th>
                                    <th style="text-align:center;">Uwagi</th>
                                    <th style="text-align:center;">Koniec<br>Leasi.</th>
                                    <th style="text-align:center;">Sprzedane</th>
                                </tr>
                                {% for auto in auta %}
                                <tr>
                                    <td><a href="{% url 'auto_edit' pk=auto.pk %}">{{ auto.typ }}</a></td>
                                    <td>{{ auto.rej }}</td>
                                    <td>{{ auto.imie_n }}</td>
                                    <!--<td>{{ auto.opis}}</td>-->
                                    <td style="text-align:center;">{% if auto.img1 == "" %}-{% else %}<a href="{{ auto.img1.url }}"><i class="fa fa-file-pdf-o fa-fw"></i></a>{% endif %}</td>
                                    <td style="text-align:center;">{% if auto.img2 == "" %}-{% else %}<a href="{{ auto.img2.url }}"><i class="fa fa-file-pdf-o fa-fw"></i></a>{% endif %}</td>
                                    <td {% if auto.stu == 0 %}style="text-align:center;"{% endif %}{% if auto.stu == 1 %}style="text-align:center; color:red; font-weight: bold; background-color:yellow;"{% endif %}{% if auto.stu == 2 %}style="text-align:center; color:yellow; font-weight: bold; background-color:red;"{% endif %}>{{ auto.us|date:'d.m.Y' }}</td>
                                    <td {% if auto.stp == 0 %}style="text-align:center;"{% endif %}{% if auto.stp == 1 %}style="text-align:center; color:red; font-weight: bold; background-color:yellow;"{% endif %}{% if auto.stp == 2 %}style="text-align:center; color:yellow; font-weight: bold; background-color:red;"{% endif %}>{{ auto.ps|date:'d.m.Y' }}</td>
                                    <td style="text-align:center;">{{ auto.nul }}</td>
                                    <td {% if auto.stdrl == 0 %}style="text-align:center;"{% endif %}{% if auto.stdrl == 1 %}style="text-align:center; color:red; font-weight: bold; background-color:yellow;"{% endif %}{% if auto.stdrl == 2 %}style="text-align:center; color:yellow; font-weight: bold; background-color:red;"{% endif %}>{{ auto.drl|date:'d.m.Y' }}</td>
                                    <td {% if auto.stdzl == 0 %}style="text-align:center;"{% endif %}{% if auto.stdzl == 1 %}style="text-align:center; color:red; font-weight: bold; background-color:yellow;"{% endif %}{% if auto.stdzl == 2 %}style="text-align:center; color:yellow; font-weight: bold; background-color:red;"{% endif %}>{{ auto.dzl|date:'d.m.Y' }}</td>
                                    <td style="text-align:right;color: #872300;">{{ auto.rul }}</td>
                                    <td style="text-align:center;">
                                        {% if auto.uwagi != "" %}
                                             <a href="#" data-toggle="modal" data-target="#1EMC{{ auto.id }}"><i class="fa fa-comment-o fa-fw"></i></a>
                                        {% endif %}
                                             <div class="modal fade" id="1EMC{{ auto.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                                 <div class="modal-dialog modal-dialog-centered" role="document">
                                                    <div class="modal-content">
                                                         <div class="modal-header">
                                                             <span class="modal-title" id="exampleModalLongTitle1">Komentarz do sprzętu</span>
                                                             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                             </button>
                                                         </div>
                                                         <div class="modal-body">
                                                             <table width="100%">
                                                                 <tr><td width="60" align="left">UŻYTKOWNIK</td><td width="10">:</td><td>{{ auto.imie }} {{ auto.nazwisko }}</td></tr>
                                                                 <tr><td align="left">TYP</td><td>:</td><td>{{ auto.typ }}</td></tr>
                                                                 <tr><td align="left">NR REJ.</td><td>:</td><td>{{ auto.rej }}</td></tr>
                                                                 <tr><td align="left">UWAGI</td><td>:</td><td>{{ auto.uwagi }}</td></tr>
                                                             </table>
                                                         </div>
                                                         <div class="modal-footer">
                                                             <button type="button" class="btn btn-primary" data-dismiss="modal">&nbsp;&nbsp;OK&nbsp;&nbsp;</button>
                                                         </div>
                                                    </div>
                                                 </div>
                                             </div>

                                    </td>
                                    <td style="vertical-align:middle;text-align:center;" width="20">
                                             {% if auto.koniecl == True %}<i class="fa fa-check fa-fw"></i>{% endif %}
                                    </td>
                                    <td style="vertical-align:middle;text-align:center;color:red;" width="20">
                                             {% if auto.sprzedany == True %}<i class="fa fa-check fa-fw"></i>{% endif %}
                                    </td>
                                </tr>
                                {% endfor %}
                            </table>

                        </div>
                        <div class="panel-footer">
                        </div>
                    </div>
                </div>




                <div class="col-lg-12"><br><br>
                    <h1 class="page-header">
                        <table width="100%" height="80px"><tr><td style="width:120px;"><img src="{% static 'img/wozek_w.png' %}" width="80px"></td><td>Wózki Widłowe</td></tr></table>

                    </h1>
                </div>
                <div class="col-lg-12">
                     <div class="panel panel-green" id="panel_glowny">
                        <div class="panel-heading">
                            <table width="100%"><tr><td>Dowody Rejestracyjne & badania</td><td align="right"></td></tr></table>
                        </div>
                        <div class="panel-body">
                            <table class="table table-striped">
                                 <tr>
                                     <th>Typ</th>
                                     <th>Nr. rejestracyjny</th>
                                     <th>Imię i Nazwisko</th>
                                     <th>Lokalizacja</th>
                                     <th style="text-align:center;">Skan</th>
                                     <th style="text-align:center;">Skan</th>
                                     <td align="center"><strong>Data ubezpieczenia</strong></td>
                                     <td align="center"><strong>Data badania UDT</strong></td>
                                     <th style="text-align:center;">Leasing</th>
                                     <th style="text-align:center;">Data start</th>
                                     <th style="text-align:center;">Data koniec</th>
                                     <th style="text-align:center;">Rata</th>
                                     <th>Uwagi</th>
                                     <th style="text-align:center;">Koniec<br>Leasi.</th>
                                     <th style="text-align:center;">Sprzedane</th>
                                 </tr>
                                {% for auto in wozki %}
                                <tr>
                                    <td><a href="{% url 'auto_edit' pk=auto.pk %}">{{ auto.typ }}</a></td>
                                    <td>{{ auto.rej }}</td>
                                    <td>{{ auto.imie_n }}</td>
                                    <td>{{ auto.opis }}</td>
                                    <td style="text-align:center;">{% if auto.img1 == "" %}-{% else %}<a href="{{ auto.img1.url }}"><i class="fa fa-file-pdf-o fa-fw"></i></a>{% endif %}</td>
                                    <td style="text-align:center;">{% if auto.img2 == "" %}-{% else %}<a href="{{ auto.img2.url }}"><i class="fa fa-file-pdf-o fa-fw"></i></a>{% endif %}</td>
                                    <td {% if auto.stu == 0 %}style="text-align:center;"{% endif %}{% if auto.stu == 1 %}style="text-align:center; color:red; font-weight: bold; background-color:yellow;"{% endif %}{% if auto.stu == 2 %}style="text-align:center; color:yellow; font-weight: bold; background-color:red;"{% endif %}>{{ auto.us|date:'d.m.Y' }}</td>
                                    <td {% if auto.stp == 0 %}style="text-align:center;"{% endif %}{% if auto.stp == 1 %}style="text-align:center; color:red; font-weight: bold; background-color:yellow;"{% endif %}{% if auto.stp == 2 %}style="text-align:center; color:yellow; font-weight: bold; background-color:red;"{% endif %}>{{ auto.ps|date:'d.m.Y' }}</td>
                                    <td style="text-align:center;">{{ auto.nul }}</td>
                                    <td {% if auto.stdrl == 0 %}style="text-align:center;"{% endif %}{% if auto.stdrl == 1 %}style="text-align:center; color:red; font-weight: bold; background-color:yellow;"{% endif %}{% if auto.stdrl == 2 %}style="text-align:center; color:yellow; font-weight: bold; background-color:red;"{% endif %}>{{ auto.drl|date:'d.m.Y' }}</td>
                                    <td {% if auto.stdzl == 0 %}style="text-align:center;"{% endif %}{% if auto.stdzl == 1 %}style="text-align:center; color:red; font-weight: bold; background-color:yellow;"{% endif %}{% if auto.stdzl == 2 %}style="text-align:center; color:yellow; font-weight: bold; background-color:red;"{% endif %}>{{ auto.dzl|date:'d.m.Y' }}</td>
                                    <td style="text-align:right;color: #872300;">{{ auto.rul }}</td>
                                    <td style="text-align:center;">
                                        {% if auto.uwagi != "" %}
                                             <a href="#" data-toggle="modal" data-target="#2EMC{{ auto.id }}"><i class="fa fa-comment-o fa-fw"></i></a>
                                        {% endif %}
                                             <div class="modal fade" id="2EMC{{ auto.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                                 <div class="modal-dialog modal-dialog-centered" role="document">
                                                    <div class="modal-content">
                                                         <div class="modal-header">
                                                             <span class="modal-title" id="exampleModalLongTitle2">Komentarz do sprzętu</span>
                                                             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                             </button>
                                                         </div>
                                                         <div class="modal-body">
                                                             <table width="100%">
                                                                 <tr><td width="60" align="left">UŻYTKOWNIK</td><td width="10">:</td><td>{{ auto.imie }} {{ auto.nazwisko }}</td></tr>
                                                                 <tr><td align="left">TYP</td><td>:</td><td>{{ auto.typ }}</td></tr>
                                                                 <tr><td align="left">NR REJ.</td><td>:</td><td>{{ auto.rej }}</td></tr>
                                                                 <tr><td align="left">UWAGI</td><td>:</td><td>{{ auto.uwagi }}</td></tr>
                                                             </table>
                                                         </div>
                                                         <div class="modal-footer">
                                                             <button type="button" class="btn btn-primary" data-dismiss="modal">&nbsp;&nbsp;OK&nbsp;&nbsp;</button>
                                                         </div>
                                                    </div>
                                                 </div>
                                             </div>
                                    </td>
                                    <td style="vertical-align:middle;text-align:center;" width="20">
                                             {% if auto.koniecl == True %}<i class="fa fa-check fa-fw"></i>{% endif %}
                                    </td>
                                    <td style="vertical-align:middle;text-align:center;color:red;" width="20">
                                             {% if auto.sprzedany == True %}<i class="fa fa-check fa-fw"></i>{% endif %}
                                    </td>
                                </tr>
                                {% endfor %}
                            </table>

                        </div>
                        <div class="panel-footer">
                        </div>
                    </div>

                </div>

                <div class="col-lg-12"><br><br>
                    <h1 class="page-header">
                        <table width="100%" height="80px"><tr><td style="width:120px;"><img src="{% static 'img/wozek_r.png' %}" width="80px"></td><td>Inne wyposażenie/sprzęt</td></tr></table>

                    </h1>
                </div>
                <div class="col-lg-12">
                     <div class="panel panel-green" id="panel_glowny">
                        <div class="panel-heading">
                            <table width="100%"><tr><td>Dowody Rejestracyjne & badania</td><td align="right"></td></tr></table>
                        </div>
                        <div class="panel-body">
                            <table class="table table-striped">
                                 <tr>
                                     <th>Typ</th>
                                     <th>Nr. rej./ser.</th>
                                     <th>Imię i Nazwisko</th>
                                     <th>Lokalizacja</th>
                                     <th style="text-align:center;">Skan</th>
                                     <th style="text-align:center;">Skan</th>
                                     <td align="center"><strong>Data ubezpieczenia</strong></td>
                                     <td align="center"><strong>Data badania UDT</strong></td>
                                     <th style="text-align:center;">Leasing</th>
                                     <th style="text-align:center;">Data start</th>
                                     <th style="text-align:center;">Data koniec</th>
                                     <th style="text-align:center;">Rata</th>
                                     <th>Uwagi</th>
                                     <th style="text-align:center;">Koniec<br>Leasi.</th>
                                     <th style="text-align:center;">Sprzedane</th>
                                 </tr>
                                {% for auto in inny %}
                                <tr>
                                    <td><a href="{% url 'auto_edit' pk=auto.pk %}">{{ auto.typ }}</a></td>
                                    <td>{{ auto.rej }}</td>
                                    <td>{{ auto.imie_n }}</td>
                                    <td>{{ auto.opis }}</td>
                                    <td style="text-align:center;">{% if auto.img1 == "" %}-{% else %}<a href="{{ auto.img1.url }}"><i class="fa fa-file-pdf-o fa-fw"></i></a>{% endif %}</td>
                                    <td style="text-align:center;">{% if auto.img2 == "" %}-{% else %}<a href="{{ auto.img2.url }}"><i class="fa fa-file-pdf-o fa-fw"></i></a>{% endif %}</td>
                                    <td {% if auto.stu == 0 %}style="text-align:center;"{% endif %}{% if auto.stu == 1 %}style="text-align:center; color:red; font-weight: bold; background-color:yellow;"{% endif %}{% if auto.stu == 2 %}style="text-align:center; color:yellow; font-weight: bold; background-color:red;"{% endif %}>{{ auto.us|date:'d.m.Y' }}</td>
                                    <td {% if auto.stp == 0 %}style="text-align:center;"{% endif %}{% if auto.stp == 1 %}style="text-align:center; color:red; font-weight: bold; background-color:yellow;"{% endif %}{% if auto.stp == 2 %}style="text-align:center; color:yellow; font-weight: bold; background-color:red;"{% endif %}>{{ auto.ps|date:'d.m.Y' }}</td>
                                    <td style="text-align:center;">{{ auto.nul }}</td>
                                    <td {% if auto.stdrl == 0 %}style="text-align:center;"{% endif %}{% if auto.stdrl == 1 %}style="text-align:center; color:red; font-weight: bold; background-color:yellow;"{% endif %}{% if auto.stdrl == 2 %}style="text-align:center; color:yellow; font-weight: bold; background-color:red;"{% endif %}>{{ auto.drl|date:'d.m.Y' }}</td>
                                    <td {% if auto.stdzl == 0 %}style="text-align:center;"{% endif %}{% if auto.stdzl == 1 %}style="text-align:center; color:red; font-weight: bold; background-color:yellow;"{% endif %}{% if auto.stdzl == 2 %}style="text-align:center; color:yellow; font-weight: bold; background-color:red;"{% endif %}>{{ auto.dzl|date:'d.m.Y' }}</td>
                                    <td style="text-align:right;color: #872300;">{{ auto.rul }}</td>
                                    <td style="text-align:center;">
                                        {% if auto.uwagi != "" %}
                                             <a href="#" data-toggle="modal" data-target="#3EMC{{ auto.id }}"><i class="fa fa-comment-o fa-fw"></i></a>
                                        {% endif %}
                                             <div class="modal fade" id="3EMC{{ auto.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                                 <div class="modal-dialog modal-dialog-centered" role="document">
                                                    <div class="modal-content">
                                                         <div class="modal-header">
                                                             <span class="modal-title" id="exampleModalLongTitle3">Komentarz do sprzętu</span>
                                                             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                             </button>
                                                         </div>
                                                         <div class="modal-body">
                                                             <table width="100%">
                                                                 <tr><td width="60" align="left">UŻYTKOWNIK</td><td width="10">:</td><td>{{ auto.imie }} {{ auto.nazwisko }}</td></tr>
                                                                 <tr><td align="left">TYP</td><td>:</td><td>{{ auto.typ }}</td></tr>
                                                                 <tr><td align="left">NR REJ.</td><td>:</td><td>{{ auto.rej }}</td></tr>
                                                                 <tr><td align="left">UWAGI</td><td>:</td><td>{{ auto.uwagi }}</td></tr>
                                                             </table>
                                                         </div>
                                                         <div class="modal-footer">
                                                             <button type="button" class="btn btn-primary" data-dismiss="modal">&nbsp;&nbsp;OK&nbsp;&nbsp;</button>
                                                         </div>
                                                    </div>
                                                 </div>
                                             </div>
                                    </td>
                                    <td style="vertical-align:middle;text-align:center;" width="20">
                                             {% if auto.koniecl == True %}<i class="fa fa-check fa-fw"></i>{% endif %}
                                    </td>
                                    <td style="vertical-align:middle;text-align:center;color:red;" width="20">
                                             {% if auto.sprzedany == True %}<i class="fa fa-check fa-fw"></i>{% endif %}
                                    </td>
                                </tr>
                                {% endfor %}
                            </table>
                        </div>
                        <div class="panel-footer">
                        </div>
                     </div>

<br><br><br>
                </div>

{% endblock %}

{% block about %}
                                 <tr><td class="text-right" width="300">
                                     <br>Wersja:
                                     <br>Ostatnia modyfikacja:<br>
                                     <br>Firma:
                                     <br>Autor:
                                     <br>Email:
                                     <br>Tel. kom.:<br>
                                     <br>
                                 </td><td>
                                     {% for ab in about %}
                                        <br>{{ ab.WERSJA }}
                                        <br>{{ ab.MODYFIKACJA }}
                                        <br>
                                        <br>{{ ab.FIRMA }}
                                        <br>{{ ab.AUTOR }}
                                     {% endfor %}
                                     <br><a href="mailto:biuro@edatabit.pl">biuro@edatabit.pl</a>
                                     <br>+48 791-648-417<br>
                                 </td></tr>
{% endblock %}
