{% extends "order_dashboard.html" %}
{% load static %}

{% block leftbutton %}

                    <li class="dropdown">
                        {% if b_rok %}
                        <a class="dropdown-toggle btn btn-success" data-toggle="dropdown" href="#" aria-expanded="false">
                            <i class="fa fa-calendar fa-fw"></i> &nbsp;Bieżący Rok => [ {{ rok }} ]&nbsp;<i class="fa fa-caret-down"></i>
                        </a>
                        {% else %}
                        <a class="dropdown-toggle btn btn-warning" data-toggle="dropdown" href="#" aria-expanded="false" title="Ustawiony rok nie jest zbieżny z rokiem kalendarzowym !">
                            <i class="fa fa-calendar fa-fw"></i> &nbsp;Bieżący Rok => [ {{ rok }} ]<i class="fa fa-caret-down"></i>
                        </a>
                        {% endif %}

                        <ul class="dropdown-menu dropdown-user">
                            {% for r in lata %}
                                <li>
                                    <a href="{% url 'sde_rok_akt' pk=r %}"><i class="fa fa-calendar fa-fw"></i>&nbsp;&nbsp;{{ r }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </li>




<!--                    <li class="dropdown">-->
<!--                        <a class="dropdown-toggle btn btn-success" data-toggle="dropdown" href="#" aria-expanded="false">-->
<!--                            <i class="fa fa-calendar fa-fw"></i> &nbsp;Rok => [ {{ rok }} ]<i class="fa fa-caret-down"></i>-->
<!--                        </a>-->
<!--                        <ul class="dropdown-menu dropdown-user">-->
<!--                            {% for r in lata %}-->
<!--                                <li>-->
<!--                                    <a href="{% url 'sde_rok_akt' pk=r %}"><i class="fa fa-calendar fa-fw"></i>&nbsp;&nbsp;{{ r }}</a>-->
<!--                                </li>-->
<!--                            {% endfor %}-->
<!--                        </ul>-->
<!--                    </li>-->

{% endblock %} 


{% block retbutton %}
                      <!--  <li class="dropdown">
                            <a class="dropdown-toggle btn btn-info" data-toggle="dropdown" href="#">
                               <i class="fa fa-cog fa-fw"></i>
                                                Pomoc
                               <i class="fa fa-caret-down"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                                <li>
                                   <a href="#" data-toggle="modal" data-target="#SDE_HELP"><i class="fa fa-list-alt fa-fw"></i> Lista SDE</a>
                                </li>
                                <li>
                                   <a href="#" data-toggle="modal" data-target="#MPK_HELP"><i class="fa fa-list-alt fa-fw"></i> Lista MPK</a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                   <a href="#" data-toggle="modal" data-target="#HELP_HELP"><i class="fa fa-cog fa-fw"></i> Pomoc</a>
                                </li>
                            </ul>
                        </li>-->
                    <!--<li>
                        <a href="{% url 'order_start' %}" class="primary btn btn-danger">&nbsp;<strong>Zamówienia</strong> </a>
                    </li>-->
                        <li>
                            <a class="btn btn-warning" href="{% url 'desktop' %}"><i class="fa fa-dashboard fa-fw"></i> Pulpit</a>
                        </li>
{% endblock %}

{% block userlog %}
    {{ name_log }}
{% endblock %}

{% block rightmenu %}
                        <li>
                            <a href="{% url 'desktop' %}"><i class="fa fa-dashboard fa-fw"></i> Pulpit</a>
                        </li>
                      <!--  {% if admini %}
                        <li class="divider"></li>
                        <li>
                            <a href="#" data-toggle="modal" data-target="#SDE_WARTOSC"><i class="fa fa-list-alt fa-fw"></i> Wartość SDE</a>
                        </li>
                        <li>
                            <a href="#" data-toggle="modal" data-target="#MPK_WARTOSC"><i class="fa fa-list-alt fa-fw"></i> Wartość MPK</a>
                        </li>
                        {% endif %}
                        <li class="divider"></li>
                        <li>
                            <a href="#" data-toggle="modal" data-target="#SDE_HELP"><i class="fa fa-list-alt fa-fw"></i> Lista SDE</a>
                        </li>
                        <li>
                            <a href="#" data-toggle="modal" data-target="#MPK_HELP"><i class="fa fa-list-alt fa-fw"></i> Lista MPK</a>
                        </li>
                        <li>
                            <a href="#" data-toggle="modal" data-target="#HELP_HELP"><i class="fa fa-cog fa-fw"></i> Pomoc</a>
                        </li>-->
                        <li class="divider"></li>

{% endblock %}

{% block logo %}
                    <table width="100%" height="200" border="0">
                        <tr>
                            <td align="center" valign="middle">
                                <img src="{% static 'img/iconfinder_Tag_58692.png' %}" width="128">
                            </td>
                        </tr>
                    </table>
{% endblock %}



{% block content %}
               <style>
                   .alarm{
                          background-color: #FFE4E1;
                   }
                   .alarm1{
                          background-color: #E1E4FF;
                   }
                   .valarm{
                          background-color: #FFFFE0;
                   }
                   .ok{
                          background-color: #90EE90;
                   }
                   .verticalText{
                          text-align: center;
                          vertical-align: middle;
                          -webkit-transform: rotate(90deg);
                          -moz-transform: rotate(90deg);
                   }
                   th {
                          text-align: center;
                   }
                   #belka {
                        box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
                        margin-bottom: 0px;
                   }
                   #tabela {
                        box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
                   }

                   #wrapper > nav {
                        box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
                   }
                   #wrapper > nav > ul.nav.navbar-top-links.navbar-left > li {
                        background-color:  #AAEEAA;
                   }
                   #wrapper > nav > ul.nav.navbar-top-links.navbar-left > li > a:hover {
                          background-color: gray;
                   }
                   #wrapper > nav > ul.nav.navbar-top-links.navbar-right > li:nth-child(1) > a:hover {
                          background-color: gray;
                   }
                   #wrapper > nav > ul.nav.navbar-top-links.navbar-right > li:nth-child(2) > a:hover {
                          background-color: gray;
                   }
                   #wrapper > nav > ul.nav.navbar-top-links.navbar-right > li:nth-child(3) > a:hover {
                          background-color: gray;
                   }
                   #tabela > tbody:nth-child(2) > tr:hover {
                          background-color: #f5f5f5;
                   }

                                       #wrapper > nav > ul.nav.navbar-top-links.navbar-right > li.dropdown > a {
                        decoration: none;
                        background-color: #404040;
                        color: #fff;
                    }

                    #wrapper > nav > ul.nav.navbar-top-links.navbar-right > li.dropdown > a:hover {
                        decoration: none;
                        background-color: #404040;
                        color: #fff;
                    }
               </style>
                <div class="col-lg-12">
                    <br><br>


                            <table width="100%" class="table" id="belka"> <!--   table-bordered table-condensed -->
                                        <tr>
                                            <td width="250px" style="background-color: #f0f0f0;">
                                                <form metod="GET" action="{% url 'ord_sde_search' %}">
                                                    {% csrf_token %}
                                                    <div class="input-group custom-search-form">
                                                        <input type="text" name="SZUKAJ" class="form-control" placeholder="Szukaj...">
                                                        <span class="input-group-btn">
                                                            <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
                                                        </span>
                                                    </div>
                                                </form>
                                            </td>
                                           <td align="center" style="background-color: #f0f0f0;">
                                                <h4><strong>{{ tytul_tabeli }}</strong></h4>
                                           </td>
                                           <td align="right" width="320px" style="background-color: #f0f0f0;">
                                               <a href="{% url 'ord_sde_xls' kl=klucz %}" class="primary btn btn-success">&nbsp;<i class="fa fa-file-excel-o"></i><strong> Export</strong> </a>
                                               <a href="{% url 'ord_sde_pdf' kl=klucz %}" class="primary btn btn-primary">&nbsp;<i class="fa fa-file-pdf-o"></i><strong> Export</strong> </a>
                                               <a href="{% url 'sde_new' %}" class="primary btn btn-default">&nbsp;<strong>Nowy wpis</strong> </a>
                                           </td>
                                        </tr>
                            </table>
                            <table width="100%" class="table table-bordered table-condensed" id="tabela"> <!--   table-bordered table-condensed -->
                                        <tr height="80px" >
                                            <th  style="background-color: #4682A4; vertical-align:middle; text-align:center;" rowspan="2"><font color="#ffff00">Nr zlecenia</font></th>
                                            <th  style="background-color: #CD853F; vertical-align:middle; text-align:center;" rowspan="2"><font color="#ffff00">Klient</font></th>
                                            <th  style="background-color: #CD853F; vertical-align:middle; text-align:center;" rowspan="2"><font color="#ffff00">Targi</font></th>
                                            <th  style="background-color: #CD853F; vertical-align:middle; text-align:center;" rowspan="2"><font color="#ffff00">Stoisko</font></th>
                                            <th  style="background-color: #BA55D3; vertical-align:middle; text-align:center;" rowspan="2"><font color="#ffff00">Opis</font></th>
                                            <th  style="background-color: #5F9EA0;; vertical-align:middle; text-align:center;" colspan="2"><font color="#ffff00">Faktura Sprzedażowa<br>(data sprzedaży na FV)</font></th>
                                            <th  style="background-color: #BA55D3; vertical-align:middle; text-align:center;" rowspan="2"><font color="#ffff00">PM</font></th>
                                            <th  style="background-color: #C0C0C0; vertical-align:middle; text-align:center;" width="20" rowspan="2"><div class="verticalText">Powierz.<br>stoiska</div></th>
                                            <th  style="background-color: #C0C0C0; vertical-align:middle; text-align:center;" width="20" rowspan="2"><div class="verticalText">Powierz.<br>piętra</div></th>
                                            <th  style="background-color: #C0C0C0; vertical-align:middle; text-align:center;" width="20" rowspan="2"><div class="verticalText">Uwagi</div></th>
                                            <th  style="background-color: #4682A4; vertical-align:middle; text-align:center;" width="20" rowspan="2"><div class="verticalText">Edycja</div></th>
                                        </tr>
                                        <tr>
                                            <th style="background-color: #5F9EA0;; vertical-align:middle; text-align:center;"><font color="#ffff00">miesiąc</font></th>
                                            <th style="background-color: #5F9EA0;; vertical-align:middle; text-align:center;"><font color="#ffff00">rok</font></th>
                                        </tr>
                                </thead>



                                <tbody>
                                     {% for sd in sde %}
                                     <tr>

                                         <td style="vertical-align:middle; text-align:center;">{{ sd.nazwa }}</td>
                                         <td style="vertical-align:middle; text-align:center;">{{ sd.klient }}</td>
                                         <td style="vertical-align:middle; text-align:center;">{{ sd.targi }}</td>
                                         <td style="vertical-align:middle; text-align:center;">{{ sd.stoisko }}</td>
                                         <td style="vertical-align:middle; text-align:center;">{{ sd.opis }}</td>
                                         <td style="vertical-align:middle; text-align:center;">{{ sd.mcs }}</td>
                                         <td style="vertical-align:middle; text-align:center;">{{ sd.rks }}</td>
                                         <td style="vertical-align:middle; text-align:center;">{{ sd.pm }}</td>
                                         <td style="vertical-align:middle; text-align:center;">{{ sd.pow_stoisko }}</td>
                                         <td style="vertical-align:middle; text-align:center;">{{ sd.pow_pietra }}</td>
                                         <td style="vertical-align:middle; text-align:center;">
                                             {% if sd.uwagi != "" %}
                                                  <a href="#" data-toggle="modal" data-target="#EMC{{ sd.id }}"><i class="fa fa-comment-o fa-fw"></i></a>
                                             {% endif %}
                                                 <div class="modal fade" id="EMC{{ sd.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                                 <div class="modal-dialog modal-dialog-centered" role="document">
                                                    <div class="modal-content">
                                                         <div class="modal-header">
                                                             <span class="modal-title" id="exampleModalLongTitle10">Komentarz do pozycji SDE</span>
                                                             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                             </button>
                                                         </div>
                                                         <div class="modal-body">
                                                             {{ sd.uwagi|linebreaks }}
                                                         </div>
                                                         <div class="modal-footer" >
                                                             <button type="button" class="btn btn-primary" data-dismiss="modal">&nbsp;&nbsp;OK&nbsp;&nbsp;</button>
                                                         </div>
                                                    </div>
                                                 </div>
                                             </div>
                                         </td>
                                         <td style="vertical-align:middle; text-align:center;" width="20">
                                             <a href="{% url 'sde_edit' pk=sd.id %}">
                                                 <i class="fa fa-pencil-square-o fa-fw"></i>
                                             </a>
                                         </td>
                                     </tr>
                                     {% endfor %}
                                </tbody>
                            </table>

                        <!--</div>-->
                </div>

                                            <div class="modal fade" id="SDE_HELP" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                                 <div class="modal-dialog modal-dialog-centered" role="document">
                                                    <div class="modal-content">
                                                         <div class="modal-header">
                                                             <span class="modal-title" id="exampleModalLongTitleX"><strong>Pomoc - Lista MPK</strong></span>
                                                             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                             </button>
                                                         </div>
                                                         <div class="modal-body">
                                                             <table width="100%">
                                                                 <table width="100%" class="table table-bordered">
                                                                     <tr><th>KOD</th><th>OPIS</th></tr>
                                                                 {% for nr in nrsde %}
                                                                     {% if fid1 != nr.id %}
                                                                      <tr><td width="80"><strong>{{ nr.nazwa }}</strong></td><td>{{ nr.opis }}</td></tr>
                                                                     {% endif %}
                                                                 {% endfor %}
                                                                 </table>
                                                             </table>
                                                         </div>
                                                         <div class="modal-footer" style="background-color: #eeeeee;">
                                                             <button type="button" class="btn btn-primary" data-dismiss="modal">&nbsp;&nbsp;OK&nbsp;&nbsp;</button>
                                                         </div>
                                                    </div>
                                                 </div>
                                             </div>




                                            <div class="modal fade" id="MPK_HELP" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                                 <div class="modal-dialog modal-dialog-centered" role="document">
                                                    <div class="modal-content">
                                                         <div class="modal-header">
                                                             <span class="modal-title" id="exampleModalLongTitle"><strong>Pomoc - Lista MPK</strong></span>
                                                             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                             </button>
                                                         </div>
                                                         <div class="modal-body">
                                                             <table width="100%">
                                                                 <table width="100%" class="table table-bordered">
                                                                     <tr><th>KOD</th><th>OPIS</th></tr>
                                                                 {% for nr in nrmpk %}
                                                                     {% if fid1 != nr.id %}
                                                                      <tr><td width="80"><strong>{{ nr.nazwa }}</strong></td><td>{{ nr.opis }}</td></tr>
                                                                     {% endif %}
                                                                 {% endfor %}
                                                                 </table>
                                                             </table>
                                                         </div>
                                                         <div class="modal-footer" style="background-color: #eeeeee;">
                                                             <button type="button" class="btn btn-primary" data-dismiss="modal">&nbsp;&nbsp;OK&nbsp;&nbsp;</button>
                                                         </div>
                                                    </div>
                                                 </div>
                                             </div>

                                            <div class="modal fade" id="SDE_WARTOSC" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                                 <div class="modal-dialog modal-dialog-centered" role="document">
                                                    <div class="modal-content">
                                                         <div class="modal-header">
                                                             <span class="modal-title" id="exampleModalLongTitle1"><strong>Zestawienie - Lista SDE</strong></span>
                                                             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                             </button>
                                                         </div>
                                                         <div class="modal-body">
                                                             <table width="100%" class="table table-bordered">
                                                                 <tr><th>NAZWA</th><th>NETTO</th><th>BRUTTO</th></tr>
                                                                 {% for nr in nrsde %}
                                                                    {% if fid != nr.id %}
                                                                      <tr><td width="80"><strong>{{ nr.nazwa }}</strong></td><td align="right">{{ nr.wartosc }}</td><td align="right">{{ nr.wartosc1 }}</td></tr>
                                                                    {% endif %}
                                                                 {% endfor %}
                                                             </table>
                                                         </div>
                                                         <div class="modal-footer" style="background-color: #eeeeee;">
                                                             <button type="button" class="btn btn-primary" data-dismiss="modal">&nbsp;&nbsp;OK&nbsp;&nbsp;</button>
                                                         </div>
                                                    </div>
                                                 </div>
                                             </div>


                                            <div class="modal fade" id="MPK_WARTOSC" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                                 <div class="modal-dialog modal-dialog-centered" role="document">
                                                    <div class="modal-content">
                                                         <div class="modal-header">
                                                             <span class="modal-title" id="exampleModalLongTitle2"><strong>Zestawienie - Lista MPK</strong></span>
                                                             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                             </button>
                                                         </div>
                                                         <div class="modal-body">
                                                             <table width="100%" class="table table-bordered">
                                                                 <tr><th>NAZWA</th><th>NETTO</th><th>BRUTTO</th></tr>
                                                                 {% for nr in nrmpk %}
                                                                    {% if fid1 != nr.id %}
                                                                      <tr><td width="80"><strong>{{ nr.nazwa }}</strong></td><td align="right">{{ nr.wartosc }}</td><td align="right">{{ nr.wartosc1 }}</td></tr>
                                                                    {% endif %}
                                                                 {% endfor %}
                                                             </table>
                                                         </div>
                                                         <div class="modal-footer" style="background-color: #eeeeee;">
                                                             <button type="button" class="btn btn-primary" data-dismiss="modal">&nbsp;&nbsp;OK&nbsp;&nbsp;</button>
                                                         </div>
                                                    </div>
                                                 </div>
                                             </div>



                                            <div class="modal fade" id="HELP_HELP" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                                 <div class="modal-dialog modal-dialog-centered" role="document">
                                                    <div class="modal-content">
                                                         <div class="modal-header">
                                                             <span class="modal-title" id="exampleModalLongTitle3"><strong>Pomoc</strong></span>
                                                             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                             </button>
                                                         </div>
                                                         <div class="modal-body">
                                                             <h4><strong>Zestawienie - Lista Kolorów sygnalizacyjnych</strong></h4>
                                                             <table width="100%" class="table table-bordered">
                                                                 <tr><th>KOLOR</th><th>OPIS</th></tr>
                                                                 <tr><td width="80" class="alarm1">&nbsp;</td><td>Zamówienie zostało otwarte bez kwoty i innych wpisów.</td></tr>
                                                                 <tr><td width="80" class="alarm">&nbsp;</td><td>Zamówienie jest w trakcie realizacji lecz nie ma wszystkich wpisów.</td></tr>
                                                                 <tr><td width="80" class="valarm">&nbsp;</td><td>Zamówienie jest w trakcie realizacji lecz bez pola kwota.</td></tr>
                                                                 <tr><td width="80" class="ok">&nbsp;</td><td>Zamówienie zostało wypełanione i prawidłowo rozliczone. </td></tr>
                                                                 <tr><td width="80">&nbsp;</td><td>Zamówienie zostało potwierdzone przez Patrycję.</td></tr>
                                                             </table>
                                                             <p style="text-align:justify;">
                                                                 Jak można wywnioskować z powyższej tabelki Małgosia swoimi działaniami musi dążyć do tego by wpis miał tło koloru zielonego. Oznacza to, że wpis przeszedł formalne sprawdzenie
                                                                 i z punktu widzenia Małgosi sprawa jest zakończona.<br>
                                                                 W momencie rozliczania się Małgosi, Patrycją potwierdza (w oknie edycji) że wszystko jest ok. W takim przypadku tło pozycji w tabeli zmienia kolor na biały i pojawia się znaczek
                                                                 <i class="fa fa-check fa-fw"></i> w kolumnie rozliczono (Rozli.)
                                                             </p>
                                                             <br>
                                                             <h4><strong>Dodawanie i edycja pozycji zamówienia</strong></h4>
                                                             <ul style="text-align:justify;">
                                                                 <li>Wybierz przycisk <strong>Nowy wpis</strong> dla nowej pozycji lub  celu edycji znaczek <i class="fa fa-pencil-square-o fa-fw"></i> umieszczony na prawej krawędzi linii do edycji.</li>
                                                                 <li>Wypełnij pozycje w oknie wg potrzeby pamiętając że te z opisem w kolorze brązowym muszą mieć wartości.</li>
                                                                 <li>Należy pamiętać, że:</li>
                                                                 <ul>
                                                                     <li>Wartości dokumentów się sumują (dok1/proforma, dok2, fv rozli). Watrość ta jest wyświetlana w polu kwota netto. W przypadku gdy w zamowieniu jest faktura proforma a przyjdzie faktura rozliczająca na tę samą kwotę, po wpisaniu faktury należy wyzerować wartość faktury proforma.</li>
                                                                     <li>W przypadku wystąpienia faktury zbiorczej (na różne pozycje SDE/MPK) należy ją odpowiednio podzielić pomiędzy pozycje SDE i MPK (wpis kilku pozycji z z tą samą fakturą ale odpowiednimi wartościami.</li>
                                                                     <li>Ta tą chwilę pozycję kwota brutto wypełnic należy indywidualnie. Kwota netto jest wyliczana i kontrolowana automatycznie.</li>
                                                                 </ul>
                                                                 <li>Po zatwierdzeniu kwota netto i brutto na podstawie nr SDE lub MPK jest przeliczana i dodawana do odpowiedniej tabeli SDE/MPK a późniejszym czasie wartości te są eksportowane do odpowiedniego dokumentu Google docs dla Michała i Iwony.</li>
                                                             </ul>
                                                         </div>
                                                         <div class="modal-footer" style="background-color: #eeeeee;">
                                                             <button type="button" class="btn btn-primary" data-dismiss="modal">&nbsp;&nbsp;OK&nbsp;&nbsp;</button>
                                                         </div>
                                                    </div>
                                                 </div>
                                             </div>


{% endblock %}

{% block about %}
                                 <tr><td class="text-right" width="300">
                                     <br>Wersja:
                                     <br>Ostatnia modyfikacja:<br>
                                     <br>Firma:
                                     <br>Autor:
                                     <br>Email:
                                     <br>Tel. kom.:<br>
                                     <br>
                                 </td><td>
                                     {% for ab in about %}
                                        <br>{{ ab.WERSJA }}
                                        <br>{{ ab.MODYFIKACJA }}
                                        <br>
                                        <br>{{ ab.FIRMA }}
                                        <br>{{ ab.AUTOR }}
                                     {% endfor %}
                                     <br><a href="mailto:biuro@edatabit.pl">biuro@edatabit.pl</a>
                                     <br>+48 791-648-417<br>
                                 </td></tr>
{% endblock %}
